# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript, TypeScript, JSON, YAML
[*.{js,ts,tsx,jsx,json,yaml,yml}]
indent_style = space
indent_size = 2

# Markdown, MDX
[*.{md,mdx}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

# Shell scripts
[*.{sh,bash}]
indent_style = space
indent_size = 2

# Python
[*.py]
indent_style = space
indent_size = 4
