{
  "openapi": "3.0.0",
  "info": {
    "title": "Bullring Finance API",
    "description": "The Bullring Finance API allows you to build powerful cross-border payment solutions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bullring.finance",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.bullring.finance",
      "description": "Sandbox Server"
    }
  ],
  "tags": [
    {
      "name": "Subaccounts",
      "description": "Operations related to user subaccounts."
    },
    {
      "name": "Verification",
      "description": "Endpoints for subaccount verification, including KYC and KYB processes."
    },
    {
      "name": "Banking > Deposits",
      "description": "Endpoints for handling deposits into subaccounts."
    },
    {
      "name": "Banking > Recipients",
      "description": "Manage payment recipients for withdrawals."
    },
    {
      "name": "Banking > Withdrawals",
      "description": "Endpoints for handling withdrawals from subaccounts."
    },
    {
      "name": "Banking > Rates",
      "description": "Endpoints for currency conversion rates."
    },
    {
      "name": "Banking > Fees",
      "description": "Endpoints for checking transaction fees."
    }
  ],
  "paths": {
    "/v1/ramp/subaccount": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Create Subaccount",
        "description": "Create a new user subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "johnanisere+0012357490i@bullring.finance"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "201": {
            "description": "Subaccount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "johnanisere+0013@bullring.finance"
                    }
                  },
                  "required": [
                    "id",
                    "email"
                  ]
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "status": "created"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}": {
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get Subaccount",
        "description": "Retrieve the details of a specific subaccount using its ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the subaccount"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Email address of the subaccount"
                    },
                    "balance": {
                      "type": "string",
                      "description": "Subaccount balance"
                    },
                    "balanceCurrency": {
                      "type": "string",
                      "description": "Currency of the balance"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subaccount"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Subaccount creation timestamp"
                    }
                  }
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "balance": "0.00000000",
                  "balanceCurrency": "USD",
                  "status": "approved",
                  "createdAt": "2025-11-19T23:59:29.241Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccounts": {
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get All Subaccounts",
        "description": "Retrieve a paginated list of all user subaccounts for a particular account.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the subaccount"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the subaccount"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Subaccount balance"
                          },
                          "balanceCurrency": {
                            "type": "string",
                            "description": "Currency of the balance"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the subaccount"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subaccount creation timestamp"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of subaccounts"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:59:29.241Z"
                    },
                    {
                      "id": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:01:16.333Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "limit": 10,
                    "pages": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Account not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/verification/tier-one": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier One",
        "description": "Submit information for Tier One verification for NGN or BRL subaccounts. The request body format varies based on the subaccount's currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Nigeria",
                    "description": "Nigeria (NGN) Tier One Verification",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "john"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "don"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "example": "24-05-1983"
                      },
                      "identification_number": {
                        "type": "string",
                        "example": "12345678902"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "example": "13, muilli street"
                          },
                          "city": {
                            "type": "string",
                            "example": "ikeja"
                          },
                          "state": {
                            "type": "string",
                            "example": "lagos"
                          },
                          "postal_code": {
                            "type": "string",
                            "example": "100001"
                          },
                          "country": {
                            "type": "string",
                            "example": "NG"
                          }
                        },
                        "required": ["street", "city", "state", "postal_code", "country"]
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "phone_country_code": {
                            "type": "string",
                            "example": "+234"
                          },
                          "phone_number": {
                            "type": "string",
                            "example": "8144194590"
                          }
                        },
                        "required": ["phone_country_code", "phone_number"]
                      }
                    },
                    "required": ["first_name", "last_name", "date_of_birth", "identification_number", "address", "phone"]
                  },
                  {
                    "type": "object",
                    "title": "Brazil",
                    "description": "Brazil (BRL) Tier One Verification",
                    "properties": {
                      "cpfNumber": {
                        "type": "string",
                        "description": "Brazilian CPF number for individual verification",
                        "example": "12345678909"
                      },
                      "cnpjNumber": {
                        "type": "string",
                        "description": "Brazilian CNPJ number for business verification (optional, use either cpfNumber or cnpjNumber)"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Nigeria": {
                  "summary": "Nigeria (NGN) Tier One Verification Request",
                  "value": {
                    "first_name": "john",
                    "last_name": "don",
                    "date_of_birth": "24-05-1983",
                    "identification_number": "12345678902",
                    "address": {
                      "street": "13, muilli street",
                      "city": "ikeja",
                      "state": "lagos",
                      "postal_code": "100001",
                      "country": "NG"
                    },
                    "phone": {
                      "phone_country_code": "+234",
                      "phone_number": "8144194590"
                    }
                  }
                },
                "Brazil": {
                  "summary": "Brazil (BRL) Tier One Verification Request",
                  "value": {
                    "cpfNumber": "12345678909"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string",
                      "description": "Unique identifier for the verification"
                    },
                    "storeId": {
                      "type": "string",
                      "description": "Subaccount ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Verification status"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the verification was successful"
                    },
                    "processingTimeMs": {
                      "type": "integer",
                      "description": "Time taken to process the verification in milliseconds"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Verification creation timestamp"
                    }
                  }
                },
                "examples": {
                  "Nigeria": {
                    "summary": "Nigeria (NGN) Tier One Verification Response",
                    "value": {
                      "storeId": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "status": "approved",
                      "verified": true,
                      "verificationId": "tier1_verification_ngn_1763593659002_m0w0no",
                      "processingTimeMs": 6,
                      "createdAt": "2025-11-19T23:07:39.008Z"
                    }
                  },
                  "Brazil": {
                    "summary": "Brazil (BRL) Tier One Verification Response",
                    "value": {
                      "verificationId": "tier1_verification_1763596769729_ugxoky",
                      "storeId": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "status": "APPROVED",
                      "verified": true,
                      "processingTimeMs": 35,
                      "createdAt": "2025-11-19T23:59:29.764Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/kyb": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier Two (Form)",
        "description": "Submit information for Tier Two Know Your Business (KYB) or Know Your Customer (KYC) verification. This endpoint initiates the verification process and returns a URL to the verification form.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationType": {
                    "type": "string",
                    "enum": ["individual", "business"],
                    "description": "Type of verification to perform",
                    "example": "individual"
                  }
                },
                "required": ["verificationType"]
              },
              "example": {
                "verificationType": "individual"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification process initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the verification form where the user can complete their KYB/KYC verification"
                    }
                  },
                  "required": ["formUrl"]
                },
                "example": {
                  "formUrl": "https://staging-verification.netlify.app/customer/94bb0a58-18cf-48f6-8c5a-44c621ae0c41"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/kyc/customers/{verificationId}/submit": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier Two (API)",
        "description": "Submit information for Tier Two Know Your Business (KYB) or Know Your Customer (KYC) verification.",
        "parameters": [
          {
            "name": "verificationId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The unique identifier of the verification"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "signed_agreement_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "status": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "has_accepted_terms_of_service": {
                    "type": "boolean"
                  },
                  "capabilities": {
                    "type": "object",
                    "properties": {
                      "payin_crypto": {
                        "type": "string"
                      },
                      "payout_crypto": {
                        "type": "string"
                      },
                      "payin_fiat": {
                        "type": "string"
                      },
                      "payout_fiat": {
                        "type": "string"
                      }
                    }
                  },
                  "requirements_due": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "rejection_reasons": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "future_requirements_due": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "endorsements": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "additional_requirements": {
                          "type": "string",
                          "nullable": true
                        }
                      }
                    }
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "bridgeCustomerId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "lastSubmissionAt": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "submissionCount": {
                    "type": "integer"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "individual",
                      "business"
                    ]
                  },
                  "first_name": {
                    "type": "string"
                  },
                  "middle_name": {
                    "type": "string",
                    "nullable": true
                  },
                  "last_name": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street_line_1": {
                        "type": "string"
                      },
                      "street_line_2": {
                        "type": "string"
                      },
                      "city": {
                        "type": "string"
                      },
                      "state": {
                        "type": "string"
                      },
                      "postal_code": {
                        "type": "string"
                      },
                      "country": {
                        "type": "string"
                      }
                    }
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "account_purpose": {
                    "type": "string"
                  },
                  "account_purpose_other": {
                    "type": "string",
                    "nullable": true
                  },
                  "employment_status": {
                    "type": "string"
                  },
                  "expected_monthly_payments_usd": {
                    "type": "string"
                  },
                  "acting_as_intermediary": {
                    "type": "boolean"
                  },
                  "most_recent_occupation": {
                    "type": "string"
                  },
                  "source_of_funds": {
                    "type": "string"
                  },
                  "identifying_information": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string"
                        },
                        "issuing_country": {
                          "type": "string"
                        },
                        "number": {
                          "type": "string"
                        },
                        "image_front": {
                          "type": "string",
                          "format": "uri"
                        },
                        "image_back": {
                          "type": "string",
                          "format": "uri"
                        }
                      }
                    }
                  },
                  "store_id": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              },
              "example": {
                "id": "8e1984e4-6e5f-4bea-a79f-03d321b051be",
                "signed_agreement_id": "b88347e6-f0c9-4dce-810e-f65301412b7b",
                "status": "active",
                "email": "demo123@mail.com",
                "has_accepted_terms_of_service": true,
                "capabilities": {
                  "payin_crypto": "pending",
                  "payout_crypto": "pending",
                  "payin_fiat": "pending",
                  "payout_fiat": "pending"
                },
                "requirements_due": [],
                "rejection_reasons": [],
                "future_requirements_due": [],
                "endorsements": [
                  {
                    "name": "base",
                    "status": "approved",
                    "additional_requirements": null
                  },
                  {
                    "name": "sepa",
                    "status": "approved",
                    "additional_requirements": null
                  }
                ],
                "created_at": "2025-11-21T15:14:16.208Z",
                "updated_at": "2025-11-21T15:18:49.043Z",
                "bridgeCustomerId": "790e9944-49f8-45b3-ac60-b605f13a07db",
                "lastSubmissionAt": "2025-11-21T15:18:49.039Z",
                "submissionCount": 1,
                "type": "individual",
                "first_name": "Dafe",
                "middle_name": null,
                "last_name": "Aror",
                "phone": "+234 8012345678",
                "address": {
                  "street_line_1": "9 Karimu Street",
                  "street_line_2": "",
                  "city": "Lagos",
                  "state": "LA",
                  "postal_code": "105102",
                  "country": "NGA"
                },
                "birth_date": "1993-01-24",
                "account_purpose": "payments_to_friends_or_family_abroad",
                "account_purpose_other": null,
                "employment_status": "employed",
                "expected_monthly_payments_usd": "FROM_5000_TO_9999",
                "acting_as_intermediary": false,
                "most_recent_occupation": "ACCOUNTANT_AND_AUDITOR",
                "source_of_funds": "inheritance",
                "identifying_information": [
                  {
                    "type": "passport",
                    "issuing_country": "NGA",
                    "number": "12345678909",
                    "image_front": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738198/verification/2025-11-21/t2fgqlxesqigmm0qfvbi.png",
                    "image_back": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                  }
                ],
                "store_id": "a3b53d4d-7a47-4e53-bfdd-74f9630248d4"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/banking/channels": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Get Deposit Channels",
        "description": "Retrieve a list of available deposit channels.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "channels": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "max": {
                              "type": "integer"
                            },
                            "min": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "countryCurrency": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "feeLocal": {
                              "type": "integer"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "vendorId": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "feeUSD": {
                              "type": "integer"
                            },
                            "channelType": {
                              "type": "string"
                            },
                            "rampType": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "apiStatus": {
                              "type": "string"
                            },
                            "settlementType": {
                              "type": "string"
                            },
                            "estimatedSettlementTime": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "max",
                            "min",
                            "currency",
                            "countryCurrency",
                            "status",
                            "feeLocal",
                            "createdAt",
                            "vendorId",
                            "country",
                            "feeUSD",
                            "channelType",
                            "rampType",
                            "updatedAt",
                            "apiStatus",
                            "settlementType",
                            "estimatedSettlementTime"
                          ]
                        }
                      },
                      "networks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "accountNumberType": {
                              "type": "string"
                            },
                            "countryAccountNumberType": {
                              "type": "string"
                            },
                            "channelIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "code": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "status",
                            "country",
                            "currency",
                            "accountNumberType",
                            "countryAccountNumberType",
                            "channelIds",
                            "code",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      }
                    },
                    "required": [
                      "channels",
                      "networks"
                    ]
                  }
                },
                "example": {
                  "USDC": {
                    "channels": [
                      {
                        "id": "usdc-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 0,
                        "currency": "USDC",
                        "countryCurrency": "USUSDC",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "usdc-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "crypto",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      }
                    ],
                    "networks": [
                      {
                        "id": "eth-sepolia-network-id-bullring-finance",
                        "name": "Ethereum Sepolia",
                        "status": "active",
                        "country": "US",
                        "currency": "USDC",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "usdc-channel-id-bullring-finance"
                        ],
                        "code": "ETH-SEPOLIA",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      },
                      {
                        "id": "sol-devnet-network-id-bullring-finance",
                        "name": "Solana Devnet",
                        "status": "active",
                        "country": "US",
                        "currency": "USDC",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "usdc-channel-id-bullring-finance"
                        ],
                        "code": "SOL-DEVNET",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      }
                    ]
                  },
                  "USDT": {
                    "channels": [
                      {
                        "id": "usdt-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 0,
                        "currency": "USDT",
                        "countryCurrency": "USUSDT",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "usdt-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "crypto",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      }
                    ],
                    "networks": [
                      {
                        "id": "eth-sepolia-network-id-bullring-finance",
                        "name": "Ethereum Sepolia",
                        "status": "active",
                        "country": "US",
                        "currency": "USDT",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "usdt-channel-id-bullring-finance"
                        ],
                        "code": "ETH-SEPOLIA",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      },
                      {
                        "id": "sol-devnet-network-id-bullring-finance",
                        "name": "Solana Devnet",
                        "status": "active",
                        "country": "US",
                        "currency": "USDT",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "usdt-channel-id-bullring-finance"
                        ],
                        "code": "SOL-DEVNET",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      }
                    ]
                  },
                  "BTC": {
                    "channels": [
                      {
                        "id": "btc-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 0,
                        "currency": "BTC",
                        "countryCurrency": "USBTC",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "btc-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "lightning",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      }
                    ],
                    "networks": [
                      {
                        "id": "bitcoin-network-id-bullring-finance",
                        "name": "Lightning Network",
                        "status": "active",
                        "country": "US",
                        "currency": "BTC",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "btc-channel-id-bullring-finance"
                        ],
                        "code": "BTC",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      }
                    ]
                  },
                  "NGN": {
                    "channels": [
                      {
                        "id": "ngn-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 0,
                        "currency": "NGN",
                        "countryCurrency": "USNGN",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "ngn-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "bank",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      },
                      {
                        "id": "ngn-otc-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 0,
                        "currency": "NGN",
                        "countryCurrency": "USNGN",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "ngn-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "otc",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      }
                    ],
                    "networks": [
                      {
                        "id": "ngn-network-id-bullring-finance",
                        "name": "Bank",
                        "status": "active",
                        "country": "US",
                        "currency": "NGN",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "ngn-channel-id-bullring-finance"
                        ],
                        "code": "NGN",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      },
                      {
                        "id": "ngn-otc-network-id-bullring-finance",
                        "name": "OTC (Over The Counter)",
                        "status": "active",
                        "country": "US",
                        "currency": "NGN",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "ngn-otc-channel-id-bullring-finance"
                        ],
                        "code": "NGN",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      }
                    ]
                  },
                  "ZMW": {
                    "channels": [
                      {
                        "id": "zmw-channel-id-bullring-finance",
                        "max": 1500000000000000000,
                        "min": 5000,
                        "currency": "ZMW",
                        "countryCurrency": "USZMW",
                        "status": "active",
                        "feeLocal": 0,
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "vendorId": "zmw-vendor-id-bullring-finance",
                        "country": "US",
                        "feeUSD": 0,
                        "channelType": "otc",
                        "rampType": "deposit",
                        "updatedAt": "2025-11-20T01:47:04.519Z",
                        "apiStatus": "active",
                        "settlementType": "instant",
                        "estimatedSettlementTime": 60
                      }
                    ],
                    "networks": [
                      {
                        "id": "zmw-network-id-bullring-finance",
                        "name": "OTC (Over The Counter)",
                        "status": "active",
                        "country": "US",
                        "currency": "ZMW",
                        "accountNumberType": "address",
                        "countryAccountNumberType": "address",
                        "channelIds": [
                          "zmw-channel-id-bullring-finance"
                        ],
                        "code": "ZMW",
                        "createdAt": "2025-11-20T01:47:04.519Z",
                        "updatedAt": "2025-11-20T01:47:04.519Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Account not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Request Fiat Deposit",
        "description": "Initiate a fiat deposit request for a specific subaccount. The request body varies depending on the currency. All deposit requests require approved KYC.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "NGN",
                    "description": "Requires Tier 1 KYC.",
                    "properties": {
                      "channelId": {
                        "type": "string"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string",
                            "enum": [
                              "bank"
                            ]
                          }
                        },
                        "required": [
                          "accountType"
                        ]
                      }
                    },
                    "required": [
                      "channelId",
                      "source"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "ZMW",
                    "description": "Requires approved Tier 2 KYC.",
                    "properties": {
                      "channelId": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "phoneNumber": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "channelId",
                      "amount",
                      "phoneNumber"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "GHS",
                    "description": "Requires approved Tier 2 KYC.",
                    "properties": {
                      "channelId": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "phoneNumber": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "channelId",
                      "amount",
                      "phoneNumber"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "USD",
                    "description": "Requires approved Tier 2 KYC.",
                    "properties": {
                      "channelId": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "source": {
                        "type": "object",
                        "properties": {
                          "accountType": {
                            "type": "string",
                            "enum": [
                              "bank"
                            ]
                          },
                          "accountNumber": {
                            "type": "string"
                          },
                          "networkId": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "accountType",
                          "accountNumber",
                          "networkId"
                        ]
                      }
                    },
                    "required": [
                      "channelId",
                      "amount",
                      "source"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "BRL",
                    "description": "Requires Tier 1 KYC.",
                    "properties": {
                      "channelId": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "channelId",
                      "amount"
                    ]
                  }
                ]
              },
              "examples": {
                "NGN": {
                  "summary": "NGN Deposit Request",
                  "value": {
                    "channelId": "ngn-channel-id-bullring-finance",
                    "source": {
                      "accountType": "bank"
                    }
                  }
                },
                "ZMW": {
                  "summary": "ZMW Deposit Request",
                  "value": {
                    "channelId": "zmw-channel-id-bullring-finance",
                    "amount": 11.1,
                    "phoneNumber": "260977373310"
                  }
                },
                "GHS": {
                  "summary": "GHS Deposit Request",
                  "value": {
                    "channelId": "ghs-channel-id-bullring-finance",
                    "amount": 1,
                    "phoneNumber": "+233552508032"
                  }
                },
                "USD": {
                  "summary": "USD Deposit Request",
                  "value": {
                    "channelId": "usd-channel-id-bullring-finance",
                    "source": {
                      "accountType": "bank",
                      "accountNumber": "+260977123456",
                      "networkId": "20823163-f55c-4fa5-8cdb-d59c5289a137"
                    }
                  }
                },
                "BRL": {
                  "summary": "BRL Deposit Request",
                  "value": {
                    "channelId": "brl-channel-id-bullring-finance",
                    "amount": 100
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Deposit initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "title": "NGN Response",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "number"
                        },
                        "localCurrency": {
                          "type": "string"
                        },
                        "bankInfo": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bankBeneficiaryName": {
                              "type": "string"
                            },
                            "bankName": {
                              "type": "string"
                            },
                            "bankAddress": {
                              "type": "string"
                            },
                            "bankRoutingNumber": {
                              "type": "string"
                            },
                            "bankAccountNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "channelId": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "ZMW Response",
                      "properties": {
                        "status": { "type": "string" },
                        "amount": { "type": "string" },
                        "localAmount": { "type": "string" },
                        "currency": { "type": "string" },
                        "country": { "type": "string" },
                        "rate": { "type": "string" },
                        "localCurrency": { "type": "string" },
                        "channelId": { "type": "string" }
                      }
                    },
                    {
                      "type": "object",
                      "title": "GHS Response",
                      "properties": {
                        "status": { "type": "string" },
                        "amount": { "type": "string" },
                        "localAmount": { "type": "string" },
                        "currency": { "type": "string" },
                        "country": { "type": "string" },
                        "rate": { "type": "string" },
                        "localCurrency": { "type": "string" },
                        "channelId": { "type": "string" }
                      }
                    },
                    {
                      "type": "object",
                      "title": "USD Response",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "localAmount": {
                          "type": "number"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "rate": {
                          "type": "number"
                        },
                        "localCurrency": {
                          "type": "string"
                        },
                        "bankInfo": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "bankBeneficiaryName": {
                              "type": "string"
                            },
                            "bankName": {
                              "type": "string"
                            },
                            "bankAddress": {
                              "type": "string"
                            },
                            "bankRoutingNumber": {
                              "type": "string"
                            },
                            "bankAccountNumber": {
                              "type": "string"
                            }
                          }
                        },
                        "channelId": {
                          "type": "string"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "title": "BRL Response",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "status": {
                          "type": "string"
                        },
                        "amount": {
                          "type": "number"
                        },
                        "localAmount": {
                          "type": "number"
                        },
                        "localCurrency": {
                          "type": "string"
                        },
                        "currency": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "bankInfo": {
                          "type": "object",
                          "properties": {
                            "qr_code_payload": {
                              "type": "string"
                            }
                          }
                        },
                        "rate": {
                          "type": "number"
                        },
                        "expiresAt": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "NGN": {
                    "summary": "NGN Response",
                    "value": {
                      "status": "pending",
                      "currency": "NGN",
                      "country": "NG",
                      "rate": 1,
                      "localCurrency": "NGN",
                      "bankInfo": {
                        "id": "9805dc88-b78b-4515-ab13-60f63924a565",
                        "bankBeneficiaryName": "Dameon O\"Hara",
                        "bankName": "Maplerad",
                        "bankAddress": "N/A",
                        "bankRoutingNumber": "N/A",
                        "bankAccountNumber": "8595061826"
                      },
                      "channelId": "ngn-channel-id-bullring-finance"
                    }
                  },
                  "ZMW": {
                    "summary": "ZMW Response",
                    "value": {
                      "status": "processing",
                      "amount": "11.10000000",
                      "localAmount": "254.40000000",
                      "currency": "USD",
                      "country": "ZM",
                      "rate": "22.9190",
                      "localCurrency": "ZMW",
                      "channelId": "zmw-channel-id-bullring-finance"
                    }
                  },
                  "GHS": {
                    "summary": "GHS Response",
                    "value": {
                      "status": "processing",
                      "amount": "1.00000000",
                      "localAmount": "11.00000000",
                      "currency": "USD",
                      "country": "GH",
                      "rate": "11.0011",
                      "localCurrency": "GHS",
                      "channelId": "ghs-channel-id-bullring-finance"
                    }
                  },
                  "USD": {
                    "summary": "USD Response",
                    "value": {
                      "status": "pending",
                      "amount": 1000,
                      "localAmount": 1000,
                      "currency": "USD",
                      "country": "US",
                      "rate": 1,
                      "localCurrency": "USD",
                      "bankInfo": {
                        "id": "85ebbb73-f7cd-47b7-9112-d5b06428cac9",
                        "bankBeneficiaryName": "Dafe Aror",
                        "bankName": "Bank of Nowhere",
                        "bankAddress": "1800 North Pole St., Orlando, FL 32801",
                        "bankRoutingNumber": "101019644",
                        "bankAccountNumber": "900843098394"
                      },
                      "channelId": "usd-channel-id-bullring-finance"
                    }
                  },
                  "BRL": {
                    "summary": "BRL Response",
                    "value": {
                      "id": "7ae3dc77746f4302aa67eb009b1c3c18",
                      "status": "pending",
                      "amount": 100,
                      "localAmount": 536,
                      "localCurrency": "BRL",
                      "currency": "USD",
                      "country": "BRA",
                      "bankInfo": {
                        "qr_code_payload": "00020101021226890014br.gov.bcb.pix2567brcode-h.sandbox.starkinfra.com/v2/e0e2832c91114135b38de3961037dbe45204000053039865802BR5908Bullring6015Ciudad de Mexic62070503***6304BA28"
                      },
                      "rate": 5.36,
                      "expiresAt": "2025-11-21T15:32:04.000Z",
                      "createdAt": "2025-11-21T15:29:35.164Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "List All Deposits",
        "description": "Retrieve a list of all deposits for a specific subaccount. All deposit requests require approved KYC.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "status": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "string"
                          },
                          "localAmount": {
                            "type": "string"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "localCurrency": {
                            "type": "string"
                          },
                          "fee": {
                            "type": "string"
                          },
                          "feeCurrency": {
                            "type": "string",
                            "nullable": true
                          },
                          "country": {
                            "type": "string"
                          },
                          "rate": {
                            "type": "string"
                          },
                          "expiresAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "bankInfo": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "qr_code_payload": {
                                "type": "string"
                              }
                            }
                          },
                          "reference": {
                            "type": "string"
                          },
                          "channelId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "count": {
                      "type": "integer"
                    },
                    "page": {
                      "type": "integer"
                    },
                    "limit": {
                      "type": "integer"
                    },
                    "totalPages": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "24f1be59-ff0a-4d80-bfc1-46dd6e26fc51",
                      "status": "completed",
                      "amount": "100.00000000",
                      "localAmount": "529.00000000",
                      "currency": "USD",
                      "localCurrency": "BRL",
                      "fee": "0.00000000",
                      "feeCurrency": null,
                      "country": "BRA",
                      "rate": "5.2900",
                      "expiresAt": "2025-11-20T02:48:23.000Z",
                      "createdAt": "2025-11-20T02:45:55.042Z",
                      "bankInfo": {
                        "name": "PIX",
                        "qr_code_payload": "00020101021226890014br.gov.bcb.pix2567brcode-h.sandbox.starkinfra.com/v2/f9bdab28a91c448cb50fc8857670d0d45204000053039865802BR5908Bullring6015Ciudad de Mexic62070503***63044B88"
                      },
                      "reference": "24f1be59ff0a4d80bfc146dd6e26fc51",
                      "channelId": "brl-channel-id-bullring-finance"
                    },
                    {
                      "id": "50e61499-9ada-4784-b631-afdce55d2a7f",
                      "status": "completed",
                      "amount": "100.00000000",
                      "localAmount": "529.00000000",
                      "currency": "USD",
                      "localCurrency": "BRL",
                      "fee": "0.00000000",
                      "feeCurrency": null,
                      "country": "BRA",
                      "rate": "5.2900",
                      "expiresAt": "2025-11-20T01:49:35.000Z",
                      "createdAt": "2025-11-20T01:47:06.742Z",
                      "bankInfo": {
                        "name": "PIX",
                        "qr_code_payload": "00020101021226890014br.gov.bcb.pix2567brcode-h.sandbox.starkinfra.com/v2/0eed3f8b1dab40c983405b48478dde9b5204000053039865802BR5908Bullring6015Ciudad de Mexic62070503***63044B88"
                      },
                      "reference": "50e614999ada4784b631afdce55d2a7f",
                      "channelId": "brl-channel-id-bullring-finance"
                    }
                  ],
                  "count": 2,
                  "page": 1,
                  "limit": 20,
                  "totalPages": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/lightning": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Lightning Deposit",
        "description": "Create a lightning invoice for a deposit. All deposit requests require approved KYC.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "enum": [
                      "usd",
                      "brl"
                    ],
                    "description": "\"usd\" or \"brl\""
                  },
                  "note": {
                    "type": "string"
                  }
                },
                "required": [
                  "amount",
                  "currency"
                ]
              },
              "example": {
                "amount": 10000,
                "currency": "usd",
                "note": "payment"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lightningInvoice": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string"
                    },
                    "paymentHash": {
                      "type": "string"
                    },
                    "paymentRequestAmount": {
                      "type": "number"
                    },
                    "paymentRequestCurrency": {
                      "type": "string"
                    },
                    "invoiceCurrency": {
                      "type": "string"
                    },
                    "cpf": {
                      "type": "string",
                      "nullable": true
                    },
                    "isLiquidationInvoice": {
                      "type": "boolean"
                    },
                    "invoiceAmount": {
                      "type": "number"
                    },
                    "rate": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "note": {
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                },
                "example": {
                  "lightningInvoice": "lntbs108323630n1p53uucupp5t0gdtpxe6frf8mvpuqqtdvjjkym3v6jk9lf06e0yudm0ww6gghyqdqvwpshjmt9de6qcqzpuxqzfvsp5cdgqvnrq3zy0m36tpqt9q4f5tk24fxkanjx20cdw4tc5229kq30q9qxpqysgqpzh62y0hm0829aedfdv25sy3s2vxevk8dsjrkhh4yjc04nhdyke8g0343k703j7qg8uuwfq49u2kl55hcl4qztnddhh0t6j8txlnnnqpgd9q7g",
                  "id": "5567cac1-d7bc-4b0d-980d-8c2453dc952c",
                  "paymentHash": "5bd0d584d9d24693ed81e000b6b252b137166a562fd2fd65e4e376f73b4845c8",
                  "paymentRequestAmount": 10000,
                  "paymentRequestCurrency": "usd",
                  "invoiceCurrency": "stablesats",
                  "cpf": null,
                  "isLiquidationInvoice": false,
                  "invoiceAmount": 1000000,
                  "rate": "1",
                  "status": "unpaid",
                  "note": "payment",
                  "createdAt": "2025-11-20T01:47:08.282Z",
                  "updatedAt": "2025-11-20T01:47:08.282Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/crypto/{onchainNetwork}": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Onchain Deposit",
        "description": "Get a deposit address for a specified blockchain network. All deposit requests require approved KYC.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "onchainNetwork",
            "in": "path",
            "schema": {
              "type": "string",
              "enum": [
                "ETH-MAINNET",
                "SOL-MAINNET-BETA",
                "ETH-SEPOLIA",
                "SOL-DEVNET"
              ]
            },
            "required": true,
            "description": "The blockchain network.\n\n**Production:** `ETH-MAINNET`, `SOL-MAINNET-BETA`\n\n**Staging:** `ETH-SEPOLIA`, `SOL-DEVNET`"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "address": {
                      "type": "string"
                    },
                    "chain": {
                      "type": "string"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "addressTag": {
                      "type": "string",
                      "nullable": true
                    },
                    "createdAt": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "id": "f156b4cb-9b34-4c45-bed1-92576c703412",
                  "address": "0x34e36e819b37577c66e7032e060866bd6a04e677",
                  "chain": "ETH-SEPOLIA",
                  "currency": "USDC",
                  "addressTag": null,
                  "createdAt": "2025-11-21T11:17:42.575Z"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid network",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusCode": {
                      "type": "integer"
                    },
                    "timestamp": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "stack": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "statusCode": 400,
                  "timestamp": "2025-11-21T11:16:54.232Z",
                  "path": "/v1/ramp/ea8605ab-04eb-4bc4-91ca-13e4fe4cb83e/banking/deposits/crypto/poly",
                  "error": "Error",
                  "message": "Invalid chain for current environment.",
                  "stack": "HttpException: Invalid chain for current environment.\n    at RampController.storeChainAddress (/usr/src/app/dist/src/stores/ramp.controller.js:125:19)\n    at process.processTicksAndRejections (node:internal/process/task_queues:95:5)"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/simulate": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Simulate NGN Deposit",
        "description": "Simulate a deposit in NGN for testing purposes in the sandbox environment. All deposit requests require approved KYC.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
[...]
