{
  "openapi": "3.0.0",
  "info": {
    "title": "Bullring Finance API",
    "description": "The Bullring Finance API allows you to build powerful cross-border payment solutions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bullring.finance",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.bullring.finance",
      "description": "Sandbox Server"
    }
  ],
  "tags": [
    {
      "name": "Subaccounts",
      "description": "Operations related to user subaccounts."
    },
    {
      "name": "Verification",
      "description": "Endpoints for subaccount verification, including KYC and KYB processes."
    },
    {
      "name": "Banking > Deposits",
      "description": "Endpoints for handling deposits into subaccounts."
    },
    {
      "name": "Banking > Withdrawals",
      "description": "Endpoints for handling withdrawals from subaccounts."
    },
    {
      "name": "Banking > Recipients",
      "description": "Manage payment recipients for withdrawals."
    },
    {
      "name": "Banking > Rates",
      "description": "Endpoints for currency conversion rates."
    },
    {
      "name": "Banking > Fees",
      "description": "Endpoints for checking transaction fees."
    }
  ],
  "paths": {
    "/v1/ramp/subaccount": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Create Subaccount",
        "description": "Create a new user subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "email": "johnanisere+0012357490i@bullring.finance"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "201": {
            "description": "Subaccount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the subaccount"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address of the subaccount"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subaccount"
                    }
                  }
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "status": "created"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get All Subaccounts",
        "description": "Retrieve a paginated list of all user subaccounts.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the subaccount"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email address of the subaccount"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Subaccount balance"
                          },
                          "balanceCurrency": {
                            "type": "string",
                            "description": "Currency of the balance"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the subaccount"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subaccount creation timestamp"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of subaccounts"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:59:29.241Z"
                    },
                    {
                      "id": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:01:16.333Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "limit": 10,
                    "pages": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}": {
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get Subaccount",
        "description": "Retrieve the details of a specific subaccount using its ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for the subaccount"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email address of the subaccount"
                    },
                    "balance": {
                      "type": "string",
                      "description": "Subaccount balance"
                    },
                    "balanceCurrency": {
                      "type": "string",
                      "description": "Currency of the balance"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subaccount"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Subaccount creation timestamp"
                    }
                  }
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "balance": "0.00000000",
                  "balanceCurrency": "USD",
                  "status": "approved",
                  "createdAt": "2025-11-19T23:59:29.241Z"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/kyb": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier Two KYB/C",
        "description": "Submit information for Tier Two Know Your Business (KYB) or Know Your Customer (KYC) verification.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "verificationType": "individual"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Verification process initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formUrl": {
                      "type": "string",
                      "description": "URL to the verification form"
                    }
                  }
                },
                "example": {
                  "formUrl": "https://staging-verification.netlify.app/customer/94bb0a58-18cf-48f6-8c5a-44c621ae0c41"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/verification/tier-one": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier One Verification",
        "description": "Submit information for Tier One verification for NGN or BRL subaccounts.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "first_name": "john",
                "last_name": "don",
                "date_of_birth": "24-05-1983",
                "identification_number": "12345678902",
                "address": {
                  "street": "13, muilli street",
                  "city": "ikeja",
                  "state": "lagos",
                  "postal_code": "100001",
                  "country": "NG"
                },
                "phone": {
                  "phone_country_code": "+234",
                  "phone_number": "8144194590"
                }
              }
            }
          }
        },
        "parameters": [
          
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string",
                      "description": "Unique identifier for the verification"
                    },
                    "storeId": {
                      "type": "string",
                      "description": "Subaccount ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Verification status"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the verification was successful"
                    },
                    "processingTimeMs": {
                      "type": "integer",
                      "description": "Time taken to process the verification in milliseconds"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Verification creation timestamp"
                    }
                  }
                },
                "examples": {
                  "Nigeria": {
                    "summary": "Nigeria (NGN) Tier One Verification",
                    "value": {
                      "storeId": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "status": "approved",
                      "verified": true,
                      "verificationId": "tier1_verification_ngn_1763596770153_nj6pmk",
                      "processingTimeMs": 5,
                      "createdAt": "2025-11-19T23:59:30.158Z"
                    }
                  },
                  "Brazil": {
                    "summary": "Brazil (BRL) Tier One Verification",
                    "value": {
                      "verificationId": "tier1_verification_1763596769729_ugxoky",
                      "storeId": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "status": "APPROVED",
                      "verified": true,
                      "processingTimeMs": 35,
                      "createdAt": "2025-11-19T23:59:29.764Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/banking/channels": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Get Deposit Channels",
        "description": "Retrieve a list of available deposit channels.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Request NGN Deposit",
        "description": "Initiate an NGN deposit request for a specific subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "channelId": "ngn-channel-id-bullring-finance",
                "source": {
                  "accountType": "bank"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "List All Deposits",
        "description": "Retrieve a list of all deposits for a specific subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/lightning": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Lightning Deposit",
        "description": "Create a lightning invoice for a deposit.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "amount": 10000,
                "currency": "usd",
                "note": "payment"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/crypto/SOL-DEVNET": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Onchain Deposit Address",
        "description": "Get a deposit address for SOL on the Solana Devnet.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/simulate": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Simulate NGN Deposit",
        "description": "Simulate a deposit in NGN for testing purposes in the sandbox environment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "NGN",
                "amount": 100000000000
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw NGN",
        "description": "Initiate a withdrawal of NGN from a user's subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "account_id": "0062881117",
                "amount": "100",
                "currency": "NGN"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Get All Withdrawals",
        "description": "Retrieve a list of all withdrawals for a specific subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/all-balance": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw Full Balance",
        "description": "Withdraw the entire balance of a specified currency from a user's subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "USD": {
                  "summary": "Withdraw Full USD Balance",
                  "value": {
                    "external_account_id": "f556899a-eea7-4a18-b9e8-6346823a9b06",
                    "currency": "USD",
                    "wire_message": "Payment for services"
                  }
                },
                "NGN": {
                  "summary": "Withdraw Full NGN Balance",
                  "value": {
                    "account_id": "0062881117",
                    "currency": "NGN"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/stablecoin": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw Stablecoin",
        "description": "Withdraw funds as a stablecoin to a specified address.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "amount": "12",
                "stablecoin": "usdt",
                "chain": "ethereum",
                "address": "0x22ccb74a200d7b8094b72482edd46e23cbf3af37"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/{withdrawalId}": {
      "get": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Get One Withdrawal",
        "description": "Retrieve the details of a single withdrawal by its ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "withdrawalId",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "9aeb160d-ace3-4f42-b7f9-be38650b4b22"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/recipients": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Add EUR Recipient",
        "description": "Add a new EUR recipient for withdrawals.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "EUR",
                "account_owner_name": "John Doe",
                "bank_name": "Bank of America",
                "account_number": "GB26PRTC00998500671076",
                "bic": "BANKGB2L",
                "country": "GBR",
                "account_owner_type": "individual",
                "first_name": "John",
                "last_name": "Doe",
                "business_name": "Acme Inc.",
                "email": "john@example.com"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Get All Recipients",
        "description": "Retrieve a list of all recipients for the subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/brl/validate": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Validate BRL Recipient",
        "description": "Validate the details of a BRL recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "BRL",
                "pix_key": "667.136.083-96"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/ngn/validate": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Validate NGN Recipient",
        "description": "Validate the details of an NGN recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "accountNumber": "0062881117",
                "bankCode": "270"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/recipients/{recipientId}": {
      "get": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Get One Recipient",
        "description": "Retrieve the details of a single recipient by their ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "recipientId",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "27c44186-5cc7-4c74-b7c7-ab16b762f260"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/rate": {
      "get": {
        "tags": [
          "Banking > Rates"
        ],
        "summary": "Rate Conversion",
        "description": "Get the conversion rate between two currencies.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "usdc"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "usd"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/withdrawal/fee": {
      "get": {
        "tags": [
          "Banking > Fees"
        ],
        "summary": "Get Withdrawal Fee",
        "description": "Calculate the fee for a withdrawal.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "ngn"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "example": "0.99"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "x-api-key": []
    }
  ]
}

