{
  "openapi": "3.0.0",
  "info": {
    "title": "Bullring Finance API",
    "description": "The Bullring Finance API allows you to build powerful cross-border payment solutions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bullring.finance",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.bullring.finance",
      "description": "Sandbox Server"
    }
  ],
  "tags": [
    {
      "name": "Subaccounts",
      "description": "Operations related to user subaccounts."
    },
    {
      "name": "Verification",
      "description": "Endpoints for subaccount verification, including KYC and KYB processes."
    },
    {
      "name": "Banking > Deposits",
      "description": "Endpoints for handling deposits into subaccounts."
    },
    {
      "name": "Banking > Withdrawals",
      "description": "Endpoints for handling withdrawals from subaccounts."
    },
    {
      "name": "Banking > Recipients",
      "description": "Manage payment recipients for withdrawals."
    },
    {
      "name": "Banking > Rates",
      "description": "Endpoints for currency conversion rates."
    },
    {
      "name": "Banking > Fees",
      "description": "Endpoints for checking transaction fees."
    }
  ],
  "paths": {
    "/v1/ramp/subaccount": {
      "post": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Create Subaccount",
        "description": "Create a new user subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": [
                  "email"
                ]
              },
              "example": {
                "email": "johnanisere+0012357490i@bullring.finance"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "201": {
            "description": "Subaccount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "johnanisere+0013@bullring.finance"
                    }
                  },
                  "required": [
                    "id",
                    "email"
                  ]
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "status": "created"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get All Subaccounts",
        "description": "Retrieve a paginated list of all user subaccounts for a particular account.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the subaccount"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the subaccount"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Subaccount balance"
                          },
                          "balanceCurrency": {
                            "type": "string",
                            "description": "Currency of the balance"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the subaccount"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subaccount creation timestamp"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of subaccounts"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:59:29.241Z"
                    },
                    {
                      "id": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:01:16.333Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "limit": 10,
                    "pages": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Account not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}": {
      "get": {
        "tags": [
          "Subaccounts"
        ],
        "summary": "Get Subaccount",
        "description": "Retrieve the details of a specific subaccount using its ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the subaccount"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Email address of the subaccount"
                    },
                    "balance": {
                      "type": "string",
                      "description": "Subaccount balance"
                    },
                    "balanceCurrency": {
                      "type": "string",
                      "description": "Currency of the balance"
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subaccount"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Subaccount creation timestamp"
                    }
                  }
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "balance": "0.00000000",
                  "balanceCurrency": "USD",
                  "status": "approved",
                  "createdAt": "2025-11-19T23:59:29.241Z"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/verification/tier-one": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier One Verification",
        "description": "Submit information for Tier One verification for NGN or BRL subaccounts. The request body format varies based on the subaccount's currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Nigeria",
                    "description": "Nigeria (NGN) Tier One Verification",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "john"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "don"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "example": "24-05-1983"
                      },
                      "identification_number": {
                        "type": "string",
                        "example": "12345678902"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "example": "13, muilli street"
                          },
                          "city": {
                            "type": "string",
                            "example": "ikeja"
                          },
                          "state": {
                            "type": "string",
                            "example": "lagos"
                          },
                          "postal_code": {
                            "type": "string",
                            "example": "100001"
                          },
                          "country": {
                            "type": "string",
                            "example": "NG"
                          }
                        },
                        "required": ["street", "city", "state", "postal_code", "country"]
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "phone_country_code": {
                            "type": "string",
                            "example": "+234"
                          },
                          "phone_number": {
                            "type": "string",
                            "example": "8144194590"
                          }
                        },
                        "required": ["phone_country_code", "phone_number"]
                      }
                    },
                    "required": ["first_name", "last_name", "date_of_birth", "identification_number", "address", "phone"]
                  },
                  {
                    "type": "object",
                    "title": "Brazil",
                    "description": "Brazil (BRL) Tier One Verification",
                    "properties": {
                      "cpfNumber": {
                        "type": "string",
                        "description": "Brazilian CPF number for individual verification",
                        "example": "12345678909"
                      },
                      "cnpjNumber": {
                        "type": "string",
                        "description": "Brazilian CNPJ number for business verification (optional, use either cpfNumber or cnpjNumber)"
                      }
                    }
                  }
                ]
              },
              "examples": {
                "Nigeria": {
                  "summary": "Nigeria (NGN) Tier One Verification Request",
                  "value": {
                    "first_name": "john",
                    "last_name": "don",
                    "date_of_birth": "24-05-1983",
                    "identification_number": "12345678902",
                    "address": {
                      "street": "13, muilli street",
                      "city": "ikeja",
                      "state": "lagos",
                      "postal_code": "100001",
                      "country": "NG"
                    },
                    "phone": {
                      "phone_country_code": "+234",
                      "phone_number": "8144194590"
                    }
                  }
                },
                "Brazil": {
                  "summary": "Brazil (BRL) Tier One Verification Request",
                  "value": {
                    "cpfNumber": "12345678909"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string",
                      "description": "Unique identifier for the verification"
                    },
                    "storeId": {
                      "type": "string",
                      "description": "Subaccount ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Verification status"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the verification was successful"
                    },
                    "processingTimeMs": {
                      "type": "integer",
                      "description": "Time taken to process the verification in milliseconds"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Verification creation timestamp"
                    }
                  }
                },
                "examples": {
                  "Nigeria": {
                    "summary": "Nigeria (NGN) Tier One Verification Response",
                    "value": {
                      "storeId": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "status": "approved",
                      "verified": true,
                      "verificationId": "tier1_verification_ngn_1763593659002_m0w0no",
                      "processingTimeMs": 6,
                      "createdAt": "2025-11-19T23:07:39.008Z"
                    }
                  },
                  "Brazil": {
                    "summary": "Brazil (BRL) Tier One Verification Response",
                    "value": {
                      "verificationId": "tier1_verification_1763596769729_ugxoky",
                      "storeId": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "status": "APPROVED",
                      "verified": true,
                      "processingTimeMs": 35,
                      "createdAt": "2025-11-19T23:59:29.764Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/kyb": {
      "post": {
        "tags": [
          "Verification"
        ],
        "summary": "Tier Two KYB/C",
        "description": "Submit information for Tier Two Know Your Business (KYB) or Know Your Customer (KYC) verification. This endpoint initiates the verification process and returns a URL to the verification form.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationType": {
                    "type": "string",
                    "enum": ["individual", "business"],
                    "description": "Type of verification to perform",
                    "example": "individual"
                  }
                },
                "required": ["verificationType"]
              },
              "example": {
                "verificationType": "individual"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification process initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the verification form where the user can complete their KYB/KYC verification"
                    }
                  },
                  "required": ["formUrl"]
                },
                "example": {
                  "formUrl": "https://staging-verification.netlify.app/customer/94bb0a58-18cf-48f6-8c5a-44c621ae0c41"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/banking/channels": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Get Deposit Channels",
        "description": "Retrieve a list of available deposit channels.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Request NGN Deposit",
        "description": "Initiate an NGN deposit request for a specific subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "channelId": "ngn-channel-id-bullring-finance",
                "source": {
                  "accountType": "bank"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "List All Deposits",
        "description": "Retrieve a list of all deposits for a specific subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/lightning": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Lightning Deposit",
        "description": "Create a lightning invoice for a deposit.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "amount": 10000,
                "currency": "usd",
                "note": "payment"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/crypto/SOL-DEVNET": {
      "get": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Onchain Deposit Address",
        "description": "Get a deposit address for SOL on the Solana Devnet.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/deposits/simulate": {
      "post": {
        "tags": [
          "Banking > Deposits"
        ],
        "summary": "Simulate NGN Deposit",
        "description": "Simulate a deposit in NGN for testing purposes in the sandbox environment.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "NGN",
                "amount": 100000000000
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw NGN",
        "description": "Initiate a withdrawal of NGN from a user's subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "account_id": "0062881117",
                "amount": "100",
                "currency": "NGN"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Get All Withdrawals",
        "description": "Retrieve a list of all withdrawals for a specific subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/all-balance": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw Full Balance",
        "description": "Withdraw the entire balance of a specified currency from a user's subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {
                "USD": {
                  "summary": "Withdraw Full USD Balance",
                  "value": {
                    "external_account_id": "f556899a-eea7-4a18-b9e8-6346823a9b06",
                    "currency": "USD",
                    "wire_message": "Payment for services"
                  }
                },
                "NGN": {
                  "summary": "Withdraw Full NGN Balance",
                  "value": {
                    "account_id": "0062881117",
                    "currency": "NGN"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/stablecoin": {
      "post": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Withdraw Stablecoin",
        "description": "Withdraw funds as a stablecoin to a specified address.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "amount": "12",
                "stablecoin": "usdt",
                "chain": "ethereum",
                "address": "0x22ccb74a200d7b8094b72482edd46e23cbf3af37"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/withdrawals/{withdrawalId}": {
      "get": {
        "tags": [
          "Banking > Withdrawals"
        ],
        "summary": "Get One Withdrawal",
        "description": "Retrieve the details of a single withdrawal by its ID.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "withdrawalId",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "9aeb160d-ace3-4f42-b7f9-be38650b4b22"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/recipients": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Add EUR Recipient",
        "description": "Add a new EUR recipient for withdrawals.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "EUR",
                "account_owner_name": "John Doe",
                "bank_name": "Bank of America",
                "account_number": "GB26PRTC00998500671076",
                "bic": "BANKGB2L",
                "country": "GBR",
                "account_owner_type": "individual",
                "first_name": "John",
                "last_name": "Doe",
                "business_name": "Acme Inc.",
                "email": "john@example.com"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      },
      "get": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Get All Recipients",
        "description": "Retrieve a list of all recipients for the subaccount.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/brl/validate": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Validate BRL Recipient",
        "description": "Validate the details of a BRL recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "currency": "BRL",
                "pix_key": "667.136.083-96"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/ngn/validate": {
      "post": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Validate NGN Recipient",
        "description": "Validate the details of an NGN recipient.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {
                "accountNumber": "0062881117",
                "bankCode": "270"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/ramp/{subaccountId}/banking/recipients/{recipientId}": {
      "get": {
        "tags": [
          "Banking > Recipients"
        ],
        "summary": "Get One Recipient",
        "description": "Retrieve the details of a single recipient by their ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string"
            },
            "required": true
          },
          {
            "name": "recipientId",
            "in": "path",
            "schema": {
              "type": "string",
              "example": "27c44186-5cc7-4c74-b7c7-ab16b762f260"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/rate": {
      "get": {
        "tags": [
          "Banking > Rates"
        ],
        "summary": "Rate Conversion",
        "description": "Get the conversion rate between two currencies.",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "usdc"
          },
          {
            "name": "to",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "usd"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    },
    "/v1/banking/withdrawal/fee": {
      "get": {
        "tags": [
          "Banking > Fees"
        ],
        "summary": "Get Withdrawal Fee",
        "description": "Calculate the fee for a withdrawal.",
        "parameters": [
          {
            "name": "currency",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "ngn"
          },
          {
            "name": "amount",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "example": "0.99"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {}
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "x-api-key": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "x-api-key": []
    }
  ]
}

