{
  "openapi": "3.0.0",
  "info": {
    "title": "Bullring Finance API",
    "description": "The Bullring Finance API allows you to build powerful cross-border payment solutions.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.bullring.finance",
      "description": "Production Server"
    },
    {
      "url": "https://staging-api.bullring.finance",
      "description": "Sandbox Server"
    }
  ],
  "tags": [
    {
      "name": "Subaccounts",
      "description": "Operations related to user subaccounts."
    },
    {
      "name": "Verification",
      "description": "Endpoints for subaccount verification, including KYC and KYB processes."
    },
    {
      "name": "Balances",
      "description": "Endpoints for retrieving account balances."
    },
    {
      "name": "Deposits",
      "description": "Endpoints for handling deposits into subaccounts."
    },
    {
      "name": "Recipients",
      "description": "Manage payment recipients for withdrawals."
    },
    {
      "name": "Withdrawals",
      "description": "Endpoints for handling withdrawals from subaccounts."
    },
    {
      "name": "Conversions",
      "description": "Endpoints for currency conversions."
    },
    {
      "name": "Rates",
      "description": "Endpoints for currency conversion rates."
    },
    {
      "name": "Fees",
      "description": "Endpoints for checking transaction fees."
    },
    {
      "name": "Offramp",
      "description": "Endpoints for handling offramp operations."
    },
    {
      "name": "Onramp",
      "description": "Endpoints for handling onramp operations."
    }
  ],
  "paths": {
    "/v1/ramp/subaccount": {
      "post": {
        "tags": ["Subaccounts"],
        "summary": "Create Subaccount",
        "description": "Create a new user subaccount.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  }
                },
                "required": ["email"]
              },
              "example": {
                "email": "johnanisere+0012357490i@bullring.finance"
              }
            }
          }
        },
        "parameters": [],
        "responses": {
          "201": {
            "description": "Subaccount created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "johnanisere+0013@bullring.finance"
                    }
                  },
                  "required": ["id", "email"]
                },
                "example": {
                  "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739dabc",
                  "email": "johnanisere+0012357490i@bullring.finance",
                  "status": "created"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}": {
      "get": {
        "tags": ["Subaccounts"],
        "summary": "Get Subaccount",
        "description": "Retrieve the details of a specific subaccount using its ID.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Unique identifier for the subaccount"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "Email address of the subaccount"
                    },
                    "balances": {
                      "type": "object",
                      "description": "Subaccount balances per currency",
                      "properties": {
                        "usd": {
                          "type": "number",
                          "description": "USD balance"
                        },
                        "ngn": {
                          "type": "number",
                          "description": "NGN balance"
                        },
                        "brl": {
                          "type": "number",
                          "description": "BRL balance"
                        },
                        "eur": {
                          "type": "number",
                          "description": "EUR balance"
                        },
                        "ghs": {
                          "type": "number",
                          "description": "GHS balance"
                        },
                        "zmw": {
                          "type": "number",
                          "description": "ZMW balance"
                        },
                        "tzs": {
                          "type": "number",
                          "description": "TZS balance"
                        },
                        "mxn": {
                          "type": "number",
                          "description": "MXN balance"
                        },
                        "cop": {
                          "type": "number",
                          "description": "COP balance"
                        },
                        "ars": {
                          "type": "number",
                          "description": "ARS balance"
                        }
                      }
                    },
                    "status": {
                      "type": "string",
                      "description": "Current status of the subaccount"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Subaccount creation timestamp"
                    },
                    "verificationTier": {
                      "type": "number",
                      "description": "Verification tier of the subaccount"
                    }
                  }
                },
                "example": {
                  "id": "5f7dc10c-74f0-4176-b328-d2b8b162972d",
                  "email": "johnanisere+0012djdi@bullring.finance",
                  "balances": {
                    "usd": 3206246.58,
                    "ngn": 40538.8,
                    "brl": 3000,
                    "eur": 0,
                    "ghs": 20,
                    "zmw": 50,
                    "tzs": 0,
                    "mxn": 0,
                    "cop": 0,
                    "ars": 0
                  },
                  "status": "approved",
                  "createdAt": "2025-11-21T15:31:37.541Z",
                  "verificationTier": 1
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccounts": {
      "get": {
        "tags": ["Subaccounts"],
        "summary": "Get All Subaccounts",
        "description": "Retrieve a paginated list of all user subaccounts for a particular account.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            },
            "example": "1"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "Unique identifier for the subaccount"
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "description": "Email address of the subaccount"
                          },
                          "balance": {
                            "type": "string",
                            "description": "Subaccount balance"
                          },
                          "balanceCurrency": {
                            "type": "string",
                            "description": "Currency of the balance"
                          },
                          "status": {
                            "type": "string",
                            "description": "Current status of the subaccount"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Subaccount creation timestamp"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total": {
                          "type": "integer",
                          "description": "Total number of subaccounts"
                        },
                        "page": {
                          "type": "integer",
                          "description": "Current page number"
                        },
                        "limit": {
                          "type": "integer",
                          "description": "Number of items per page"
                        },
                        "pages": {
                          "type": "integer",
                          "description": "Total number of pages"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "id": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:59:29.241Z"
                    },
                    {
                      "id": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "email": "johnanisere+0012357490i@bullring.finance",
                      "balance": "0.00000000",
                      "balanceCurrency": "USD",
                      "status": "approved",
                      "createdAt": "2025-11-19T23:01:16.333Z"
                    }
                  ],
                  "meta": {
                    "total": 5,
                    "page": 1,
                    "limit": 10,
                    "pages": 1
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Account not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Account not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/verification/tier-one": {
      "post": {
        "tags": ["Verification"],
        "summary": "Tier One",
        "description": "Submit information for Tier One verification for customer's country. The request body format varies based on the subaccount's currency.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "title": "Other Countries",
                    "description": "Other Countries Tier One Verification e.g Nigeria, Ghana, Zambia, etc.",
                    "properties": {
                      "first_name": {
                        "type": "string",
                        "example": "eli"
                      },
                      "last_name": {
                        "type": "string",
                        "example": "dan"
                      },
                      "date_of_birth": {
                        "type": "string",
                        "example": "24-05-1983"
                      },
                      "identification_number": {
                        "type": "string",
                        "example": "22245678123"
                      },
                      "address": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "type": "string",
                            "example": "13, muilli street"
                          },
                          "city": {
                            "type": "string",
                            "example": "ikeja"
                          },
                          "state": {
                            "type": "string",
                            "example": "lagos"
                          },
                          "postal_code": {
                            "type": "string",
                            "example": "100001"
                          },
                          "country": {
                            "type": "string",
                            "example": "GH"
                          }
                        },
                        "required": [
                          "street",
                          "city",
                          "state",
                          "postal_code",
                          "country"
                        ]
                      },
                      "phone": {
                        "type": "object",
                        "properties": {
                          "phone_country_code": {
                            "type": "string",
                            "example": "+234"
                          },
                          "phone_number": {
                            "type": "string",
                            "example": "1234194590"
                          }
                        },
                        "required": ["phone_country_code", "phone_number"]
                      }
                    },
                    "required": [
                      "first_name",
                      "last_name",
                      "date_of_birth",
                      "identification_number",
                      "address",
                      "phone"
                    ]
                  },
                  {
                    "type": "object",
                    "title": "Brazil",
                    "description": "Brazil (BRL) Tier One Verification",
                    "properties": {
                      "cpfNumber": {
                        "type": "string",
                        "description": "Brazilian CPF number for individual verification",
                        "example": "12345678909"
                      },
                      "cnpjNumber": {
                        "type": "string",
                        "description": "Brazilian CNPJ number for business verification",
                        "example": "12.345.678/0001-96"
                      }
                    },
                    "oneOf": [{ "required": ["cnpjNumber"] }]
                  }
                ]
              },
              "examples": {
                "Other Countries": {
                  "summary": "Other Countries Tier One Verification Request",
                  "value": {
                    "first_name": "eli",
                    "last_name": "dan",
                    "date_of_birth": "24-05-1983",
                    "identification_number": "22245678123",
                    "address": {
                      "street": "13, muilli street",
                      "city": "ikeja",
                      "state": "lagos",
                      "postal_code": "100001",
                      "country": "GH"
                    },
                    "phone": {
                      "phone_country_code": "+234",
                      "phone_number": "1234194590"
                    }
                  }
                },
                "Brazil": {
                  "summary": "Brazil (BRL) Tier One Verification Request",
                  "value": {
                    "cpfNumber": "12345678909"
                  }
                },
                "Brazil (CNPJ)": {
                  "summary": "Brazil (BRL) Tier One Verification Request (CNPJ)",
                  "value": {
                    "cnpjNumber": "12.345.678/0001-96"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification completed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "verificationId": {
                      "type": "string",
                      "description": "Unique identifier for the verification"
                    },
                    "storeId": {
                      "type": "string",
                      "description": "Subaccount ID"
                    },
                    "status": {
                      "type": "string",
                      "description": "Verification status"
                    },
                    "verified": {
                      "type": "boolean",
                      "description": "Whether the verification was successful"
                    },
                    "processingTimeMs": {
                      "type": "integer",
                      "description": "Time taken to process the verification in milliseconds"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Verification creation timestamp"
                    }
                  }
                },
                "examples": {
                  "Nigeria": {
                    "summary": "Nigeria (NGN) Tier One Verification Response",
                    "value": {
                      "storeId": "c625ca4e-b125-47fd-b090-7c63f51c1630",
                      "status": "approved",
                      "verified": true,
                      "verificationId": "tier1_verification_ngn_1763593659002_m0w0no",
                      "processingTimeMs": 6,
                      "createdAt": "2025-11-19T23:07:39.008Z"
                    }
                  },
                  "Brazil": {
                    "summary": "Brazil (BRL) Tier One Verification Response",
                    "value": {
                      "verificationId": "tier1_verification_1763596769729_ugxoky",
                      "storeId": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a",
                      "status": "APPROVED",
                      "verified": true,
                      "processingTimeMs": 35,
                      "createdAt": "2025-11-19T23:59:29.764Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/subaccount/{subaccountId}/kyb": {
      "post": {
        "tags": ["Verification"],
        "summary": "Tier Two (Form)",
        "description": "Submit information for Tier Two Know Your Business (KYB) or Know Your Customer (KYC) verification. This endpoint initiates the verification process and returns a URL to the verification form.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationType": {
                    "type": "string",
                    "enum": ["individual", "business"],
                    "description": "Type of verification to perform",
                    "example": "individual"
                  }
                },
                "required": ["verificationType"]
              },
              "example": {
                "verificationType": "individual"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "6a0fd7af-181d-4c0f-b24b-b8cfb739d67a"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "201": {
            "description": "Verification process initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "formUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "URL to the verification form where the user can complete their KYB/KYC verification"
                    }
                  },
                  "required": ["formUrl"]
                },
                "example": {
                  "formUrl": "https://staging-verification.netlify.app/customer/94bb0a58-18cf-48f6-8c5a-44c621ae0c41"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Unauthorized",
                  "message": "Invalid or missing API key"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Forbidden",
                  "message": "You do not have permission to access this resource"
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Subaccount not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "error": "Not Found",
                  "message": "Subaccount not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/kyc/occupations": {
      "get": {
        "tags": ["Verification"],
        "summary": "Get Occupations",
        "description": "Retrieve a list of accepted occupations for KYC verification.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "ACCOUNTANT_AND_AUDITOR",
                    "ACTOR",
                    "ACTUARY",
                    "ACUPUNCTURIST",
                    "ADHESIVE_BONDING_MACHINE_OPERATOR_AND_TENDER",
                    "ADMINISTRATIVE_SERVICES_MANAGER",
                    "ADVERTISING_AND_PROMOTIONS_MANAGER",
                    "ADVERTISING_SALES_AGENT",
                    "AEROSPACE_ENGINEER",
                    "AGENT_AND_BUSINESS_MANAGER_OF_ARTISTS_PERFORMERS_AND_ATHLETES",
                    "AGRICULTURAL_AND_FOOD_SCIENCE_TECHNICIAN",
                    "AGRICULTURAL_AND_FOOD_SCIENTIST",
                    "AGRICULTURAL_ENGINEER",
                    "AGRICULTURAL_INSPECTOR",
                    "AIR_TRAFFIC_CONTROLLER_AND_AIRFIELD_OPERATIONS_SPECIALIST",
                    "AIRCRAFT_MECHANIC_AND_SERVICE_TECHNICIAN",
                    "AIRCRAFT_PILOTS_AND_FLIGHT_ENGINEER",
                    "AIRCRAFT_STRUCTURE_SURFACES_RIGGING_AND_SYSTEMS_ASSEMBLER",
                    "AMBULANCE_DRIVER_AND_ATTENDANT_EXCEPT_EMERGENCY_MEDICAL_TECHNICIAN",
                    "ANIMAL_BREEDER",
                    "ANIMAL_CARETAKER",
                    "ANIMAL_CONTROL_WORKER",
                    "ANIMAL_TRAINER",
                    "ARCHITECT_EXCEPT_LANDSCAPE_AND_NAVAL",
                    "ARCHITECTURAL_AND_CIVIL_DRAFTER",
                    "ARCHITECTURAL_AND_ENGINEERING_MANAGER",
                    "ARCHIVIST_CURATOR_AND_MUSEUM_TECHNICIAN",
                    "ARTIST_AND_RELATED_WORKER",
                    "ASTRONOMER_AND_PHYSICIST",
                    "ATHLETES_AND_SPORTS_COMPETITOR",
                    "ATMOSPHERIC_AND_SPACE_SCIENTIST",
                    "AUDIOLOGIST",
                    "AUDIOVISUAL_EQUIPMENT_INSTALLER_AND_REPAIRER",
                    "AUTOMOTIVE_BODY_AND_RELATED_REPAIRER",
                    "AUTOMOTIVE_GLASS_INSTALLER_AND_REPAIRER",
                    "AUTOMOTIVE_SERVICE_TECHNICIAN_AND_MECHANIC",
                    "AVIONICS_TECHNICIAN",
                    "BAGGAGE_PORTER_BELLHOP_AND_CONCIERGE",
                    "BAILIFF",
                    "BAKER",
                    "BARBER",
                    "BARTENDER",
                    "BILL_AND_ACCOUNT_COLLECTOR",
                    "BILLING_AND_POSTING_CLERK",
                    "BIOENGINEER_AND_BIOMEDICAL_ENGINEER",
                    "BIOLOGICAL_SCIENTIST",
                    "BIOLOGICAL_TECHNICIAN",
                    "BOILERMAKER",
                    "BOOKKEEPING_ACCOUNTING_AND_AUDITING_CLERK",
                    "BRICKMASON_BLOCKMASON_AND_STONEMASON",
                    "BROADCAST_ANNOUNCER_AND_RADIO_DISC_JOCKEY",
                    "BROADCAST_SOUND_AND_LIGHTING_TECHNICIAN",
                    "BROKERAGE_CLERK",
                    "BUDGET_ANALYST",
                    "BUS_AND_TRUCK_MECHANIC_AND_DIESEL_ENGINE_SPECIALIST",
                    "BUSINESS_OPERATIONS_SPECIALIST_OTHER",
                    "BUTCHER_AND_OTHER_MEAT_POULTRY_AND_FISH_PROCESSING_WORKER",
                    "BUYER_AND_PURCHASING_AGENT_FARM_PRODUCTS",
                    "CABINETMAKER_AND_BENCH_CARPENTER",
                    "CARDIOVASCULAR_TECHNOLOGIST_AND_TECHNICIAN",
                    "CARGO_AND_FREIGHT_AGENT",
                    "CARPENTER",
                    "CARPET_FLOOR_AND_TILE_INSTALLER_AND_FINISHER",
                    "CASHIER",
                    "CEMENT_MASON_CONCRETE_FINISHER_AND_TERRAZZO_WORKER",
                    "CHEF_AND_HEAD_COOK",
                    "CHEMICAL_ENGINEER",
                    "CHEMICAL_PROCESSING_MACHINE_SETTER_OPERATOR_AND_TENDER",
                    "CHEMICAL_TECHNICIAN",
                    "CHEMIST_AND_MATERIALS_SCIENTIST",
                    "CHIEF_EXECUTIVE",
                    "CHILD_FAMILY_AND_SCHOOL_SOCIAL_WORKER",
                    "CHILDCARE_WORKER",
                    "CHIROPRACTOR",
                    "CIVIL_ENGINEER",
                    "CLAIMS_ADJUSTER_APPRAISER_EXAMINER_AND_INVESTIGATOR",
                    "CLEANER_OF_VEHICLES_AND_EQUIPMENT",
                    "CLERGY",
                    "CLINICAL_AND_COUNSELING_PSYCHOLOGIST",
                    "CLINICAL_LABORATORY_TECHNOLOGIST_AND_TECHNICIAN",
                    "COACHES_AND_SCOUT",
                    "COIN_VENDING_AND_AMUSEMENT_MACHINE_SERVICER_AND_REPAIRER",
                    "COMMERCIAL_AND_INDUSTRIAL_DESIGNER",
                    "COMMERCIAL_DIVER",
                    "COMMUNICATIONS_EQUIPMENT_OPERATOR_OTHER",
                    "COMPENSATION_AND_BENEFITS_MANAGER",
                    "COMPENSATION_BENEFITS_AND_JOB_ANALYSIS_SPECIALIST",
                    "COMPLIANCE_OFFICER",
                    "COMPUTER_AND_INFORMATION_RESEARCH_SCIENTIST",
                    "COMPUTER_AND_INFORMATION_SYSTEMS_MANAGER",
                    "COMPUTER_HARDWARE_ENGINEER",
                    "COMPUTER_NETWORK_ARCHITECT",
                    "COMPUTER_NUMERICALLY_CONTROLLED_TOOL_OPERATOR_AND_PROGRAMMER",
                    "COMPUTER_OCCUPATION_OTHER",
                    "COMPUTER_PROGRAMMER",
                    "COMPUTER_SUPPORT_SPECIALIST",
                    "COMPUTER_SYSTEMS_ANALYST",
                    "COMPUTER_AUTOMATED_TELLER_AND_OFFICE_MACHINE_REPAIRER",
                    "CONSERVATION_SCIENTIST_AND_FORESTER",
                    "CONSTRUCTION_AND_BUILDING_INSPECTOR",
                    "CONSTRUCTION_EQUIPMENT_OPERATOR",
                    "CONSTRUCTION_LABORER",
                    "CONSTRUCTION_MANAGER",
                    "CONTROL_AND_VALVE_INSTALLER_AND_REPAIRER",
                    "CONVEYOR_DREDGE_AND_HOIST_AND_WINCH_OPERATOR",
                    "COOK",
                    "CORRECTIONAL_OFFICER_AND_JAILER",
                    "CORRESPONDENCE_CLERK",
                    "COST_ESTIMATOR",
                    "COUNSELOR_OTHER",
                    "COUNTER_AND_RENTAL_CLERK",
                    "COURIER_AND_MESSENGER",
                    "COURT_REPORTER_AND_SIMULTANEOUS_CAPTIONER",
                    "COURT_MUNICIPAL_AND_LICENSE_CLERK",
                    "CRANE_AND_TOWER_OPERATOR",
                    "CREDIT_ANALYST",
                    "CREDIT_AUTHORIZER_CHECKER_AND_CLERK",
                    "CREDIT_COUNSELOR_AND_LOAN_OFFICER",
                    "CROSSING_GUARD_AND_FLAGGER",
                    "CRUSHING_GRINDING_POLISHING_MIXING_AND_BLENDING_WORKER",
                    "CUSTOMER_SERVICE_REPRESENTATIVE",
                    "CUTTING_WORKER",
                    "CUTTING_PUNCHING_AND_PRESS_MACHINE_SETTER_OPERATOR_AND_TENDER_METAL_AND_PLASTIC",
                    "DANCER_AND_CHOREOGRAPHER",
                    "DATA_LABELER_AND_DATA_ENTRY_KEYER",
                    "DATABASE_ADMINISTRATOR_AND_ARCHITECT",
                    "DENTAL_AND_OPHTHALMIC_LABORATORY_TECHNICIAN_AND_MEDICAL_APPLIANCE_TECHNICIAN",
                    "DENTAL_ASSISTANT",
                    "DENTAL_HYGIENIST",
                    "DENTIST",
                    "DERRICK_ROTARY_DRILL_AND_SERVICE_UNIT_OPERATOR_OIL_AND_GAS",
                    "DESKTOP_PUBLISHER",
                    "DETECTIVE_AND_CRIMINAL_INVESTIGATOR",
                    "DIAGNOSTIC_MEDICAL_SONOGRAPHER",
                    "DIETETIC_TECHNICIAN_AND_OPHTHALMIC_MEDICAL_TECHNICIAN",
                    "DIETITIAN_AND_NUTRITIONIST",
                    "DINING_ROOM_AND_CAFETERIA_ATTENDANT_AND_BARTENDER_HELPER",
                    "DIRECTOR_RELIGIOUS_ACTIVITIES_AND_EDUCATION",
                    "DISC_JOCKEY_EXCEPT_RADIO",
                    "DISHWASHER",
                    "DISPATCHER_EXCEPT_POLICE_FIRE_AND_AMBULANCE",
                    "DOOR_TO_DOOR_SALES_WORKER_NEWS_AND_STREET_VENDOR_AND_RELATED_WORKER",
                    "DRIVER_SALES_WORKER_AND_TRUCK_DRIVER",
                    "DRYWALL_INSTALLER_CEILING_TILE_INSTALLER_AND_TAPER",
                    "EARTH_DRILLER_EXCEPT_OIL_AND_GAS",
                    "ECONOMIST",
                    "EDITOR",
                    "EDUCATION_AND_CHILDCARE_ADMINISTRATOR",
                    "EDUCATIONAL_GUIDANCE_AND_CAREER_COUNSELOR_AND_ADVISOR",
                    "ELECTRIC_MOTOR_POWER_TOOL_AND_RELATED_REPAIRER",
                    "ELECTRICAL_AND_ELECTRONIC_ENGINEERING_TECHNOLOGIST_AND_TECHNICIAN",
                    "ELECTRICAL_AND_ELECTRONICS_ENGINEER",
                    "ELECTRICAL_AND_ELECTRONICS_INSTALLER_AND_REPAIRER_TRANSPORTATION_EQUIPMENT",
                    "ELECTRICAL_AND_ELECTRONICS_REPAIRER_INDUSTRIAL_AND_UTILITY",
                    "ELECTRICAL_POWER_LINE_INSTALLER_AND_REPAIRER",
                    "ELECTRICAL_ELECTRONICS_AND_ELECTROMECHANICAL_ASSEMBLER",
                    "ELECTRICIAN",
                    "ELECTRONIC_EQUIPMENT_INSTALLER_AND_REPAIRER_MOTOR_VEHICLES",
                    "ELEMENTARY_AND_MIDDLE_SCHOOL_TEACHER",
                    "ELEVATOR_AND_ESCALATOR_INSTALLER_AND_REPAIRER",
                    "ELIGIBILITY_INTERVIEWER_GOVERNMENT_PROGRAMS",
                    "EMBALMER_CREMATORY_OPERATOR_AND_FUNERAL_ATTENDANT",
                    "EMERGENCY_MANAGEMENT_DIRECTOR",
                    "EMERGENCY_MEDICAL_TECHNICIAN",
                    "EMERGENCY_MEDICINE_PHYSICIAN",
                    "ENGINE_AND_OTHER_MACHINE_ASSEMBLER",
                    "ENGINEER_OTHER",
                    "ENTERTAINER_AND_PERFORMER_SPORTS_AND_RELATED_WORKER_OTHER",
                    "ENTERTAINMENT_AND_RECREATION_MANAGER",
                    "ENVIRONMENTAL_ENGINEER",
                    "ENVIRONMENTAL_SCIENCE_AND_GEOSCIENCE_TECHNICIAN",
                    "ENVIRONMENTAL_SCIENTIST_AND_SPECIALIST_INCLUDING_HEALTH",
                    "ETCHER_AND_ENGRAVER",
                    "EXCAVATING_AND_LOADING_MACHINE_AND_DRAGLINE_OPERATOR_SURFACE_MINING",
                    "EXECUTIVE_SECRETARY_AND_EXECUTIVE_ADMINISTRATIVE_ASSISTANT",
                    "EXERCISE_PHYSIOLOGIST",
                    "EXERCISE_TRAINER_AND_GROUP_FITNESS_INSTRUCTOR",
                    "EXPLOSIVES_WORKER_ORDNANCE_HANDLING_EXPERT_AND_BLASTER",
                    "EXTRUDING_FORMING_PRESSING_AND_COMPACTING_MACHINE_SETTER_OPERATOR_AND_TENDER",
                    "FACILITIES_MANAGER",
                    "FARMER_RANCHER_AND_OTHER_AGRICULTURAL_MANAGER",
                    "FASHION_DESIGNER",
                    "FAST_FOOD_AND_COUNTER_WORKER",
                    "FENCE_ERECTOR",
                    "FILE_CLERK",
                    "FINANCIAL_AND_INVESTMENT_ANALYST",
                    "FINANCIAL_CLERK_OTHER",
                    "FINANCIAL_EXAMINER",
                    "FINANCIAL_MANAGER",
                    "FIRE_INSPECTOR",
                    "FIREFIGHTER",
                    "FIRST_LINE_ENLISTED_MILITARY_SUPERVISOR",
                    "FIRST_LINE_SUPERVISOR_OF_CONSTRUCTION_TRADES_AND_EXTRACTION_WORKER",
                    "FIRST_LINE_SUPERVISOR_OF_CORRECTIONAL_OFFICER",
                    "FIRST_LINE_SUPERVISOR_OF_FARMING_FISHING_AND_FORESTRY_WORKER",
                    "FIRST_LINE_SUPERVISOR_OF_FIREFIGHTING_AND_PREVENTION_WORKER",
                    "FIRST_LINE_SUPERVISOR_OF_FOOD_PREPARATION_AND_SERVING_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_HOUSEKEEPING_AND_JANITORIAL_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_LANDSCAPING_LAWN_SERVICE_AND_GROUNDSKEEPING_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_MECHANICS_INSTALLERS_AND_REPAIRERS",
                    "FIRST_LINE_SUPERVISOR_OF_NON_RETAIL_SALES_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_OFFICE_AND_ADMINISTRATIVE_SUPPORT_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_POLICE_AND_DETECTIVE",
                    "FIRST_LINE_SUPERVISOR_OF_PRODUCTION_AND_OPERATING_WORKER",
                    "FIRST_LINE_SUPERVISOR_OF_PROTECTIVE_SERVICE_WORKER_OTHER",
                    "FIRST_LINE_SUPERVISOR_OF_RETAIL_SALES_WORKERS",
                    "FIRST_LINE_SUPERVISOR_OF_SECURITY_WORKER",
                    "FISH_AND_GAME_WARDEN",
                    "FISHING_AND_HUNTING_WORKER",
                    "FLIGHT_ATTENDANT",
                    "FLORAL_DESIGNER",
                    "FOOD_AND_TOBACCO_ROASTING_BAKING_AND_DRYING_MACHINE_OPERATOR_AND_TENDER",
                    "FOOD_BATCHMAKER",
                    "FOOD_COOKING_MACHINE_OPERATOR_AND_TENDER",
                    "FOOD_PREPARATION_AND_SERVING_RELATED_WORKER_OTHER",
                    "FOOD_PREPARATION_WORKER",
                    "FOOD_PROCESSING_WORKER_OTHER",
                    "FOOD_SERVER_NONRESTAURANT",
                    "FOOD_SERVICE_MANAGER",
                    "FOREST_AND_CONSERVATION_WORKER",
                    "FORMING_MACHINE_SETTER_OPERATOR_AND_TENDER_METAL_AND_PLASTIC",
                    "FUNDRAISER",
                    "FUNERAL_HOME_MANAGER",
                    "FURNACE_KILN_OVEN_DRIER_AND_KETTLE_OPERATOR_AND_TENDER",
                    "FURNITURE_FINISHER",
                    "GAMBLING_CAGE_WORKER",
                    "GAMBLING_SERVICES_WORKER",
                    "GENERAL_AND_OPERATIONS_MANAGER",
                    "GEOSCIENTIST_AND_HYDROLOGIST_EXCEPT_GEOGRAPHER",
                    "GLAZIER",
                    "GRADER_AND_SORTER_AGRICULTURAL_PRODUCT",
                    "GRAPHIC_DESIGNER",
                    "GRINDING_LAPPING_POLISHING_AND_BUFFING_MACHINE_TOOL_SETTER_OPERATOR_AND_TENDER_METAL_AND_PLASTIC",
                    "HAIRDRESSER_HAIRSTYLIST_AND_COSMETOLOGIST",
                    "HAZARDOUS_MATERIALS_REMOVAL_WORKER",
                    "HEALTHCARE_DIAGNOSING_OR_TREATING_PRACTITIONER_OTHER",
                    "HEALTHCARE_SOCIAL_WORKER",
                    "HEATING_AIR_CONDITIONING_AND_REFRIGERATION_MECHANIC_AND_INSTALLER",
                    "HEAVY_VEHICLE_AND_MOBILE_EQUIPMENT_SERVICE_TECHNICIAN_AND_MECHANIC",
                    "HELPER_INSTALLATION_MAINTENANCE_AND_REPAIR_WORKER",
                    "HELPER_PRODUCTION_WORKER",
                    "HELPER_CONSTRUCTION_TRADE",
                    "HIGHWAY_MAINTENANCE_WORKER",
                    "HOME_APPLIANCE_REPAIRER",
                    "HOME_HEALTH_AIDE",
                    "HOST_AND_HOSTESS_RESTAURANT_LOUNGE_AND_COFFEE_SHOP",
                    "HOTEL_MOTEL_AND_RESORT_DESK_CLERK",
                    "HUMAN_RESOURCES_ASSISTANT_EXCEPT_PAYROLL_AND_TIMEKEEPING",
                    "HUMAN_RESOURCES_MANAGER",
                    "HUMAN_RESOURCES_WORKER",
                    "INDUSTRIAL_AND_REFRACTORY_MACHINERY_MECHANIC",
                    "INDUSTRIAL_ENGINEER_INCLUDING_HEALTH_AND_SAFETY",
                    "INDUSTRIAL_PRODUCTION_MANAGER",
                    "INDUSTRIAL_TRUCK_AND_TRACTOR_OPERATOR",
                    "INFORMATION_AND_RECORD_CLERK_OTHER",
                    "INFORMATION_SECURITY_ANALYST",
                    "INSPECTOR_TESTER_SORTER_SAMPLER_AND_WEIGHER",
                    "INSULATION_WORKER",
                    "INSURANCE_CLAIMS_AND_POLICY_PROCESSING_CLERK",
                    "INSURANCE_SALES_AGENT",
                    "INSURANCE_UNDERWRITER",
                    "INTERIOR_DESIGNER",
                    "INTERPRETER_AND_TRANSLATOR",
                    "INTERVIEWER_EXCEPT_ELIGIBILITY_AND_LOAN",
                    "JANITOR_AND_BUILDING_CLEANER",
                    "JEWELER_AND_PRECIOUS_STONE_AND_METAL_WORKER",
                    "JUDGE_MAGISTRATE_AND_OTHER_JUDICIAL_WORKER",
                    "JUDICIAL_LAW_CLERK",
                    "LABORER_AND_FREIGHT_STOCK_AND_MATERIAL_MOVER_HAND",
                    "LANDSCAPE_ARCHITECT",
                    "LANDSCAPING_AND_GROUNDSKEEPING_WORKER",
                    "LAUNDRY_AND_DRY_CLEANING_WORKER",
                    "LAWYER",
                    "LEGAL_SECRETARY_AND_ADMINISTRATIVE_ASSISTANT",
                    "LEGAL_SUPPORT_WORKER_OTHER",
                    "LEGISLATOR",
                    "LIBRARIAN_AND_MEDIA_COLLECTIONS_SPECIALIST",
                    "LIBRARY_ASSISTANT_CLERICAL",
                    "LIBRARY_TECHNICIAN",
                    "LICENSED_PRACTICAL_AND_LICENSED_VOCATIONAL_NURSE",
                    "LIFE_SCIENTIST_OTHER",
                    "LOAN_INTERVIEWER_AND_CLERK",
                    "LOCKSMITH_AND_SAFE_REPAIRER",
                    "LOCOMOTIVE_ENGINEER_AND_OPERATOR",
                    "LODGING_MANAGER",
                    "LOGGING_WORKER",
                    "LOGISTICIAN",
                    "MACHINE_FEEDER_AND_OFFBEARER",
                    "MACHINIST",
                    "MAGNETIC_RESONANCE_IMAGING_TECHNOLOGIST",
                    "MAIDS_AND_HOUSEKEEPING_CLEANER",
                    "MAIL_CLERK_AND_MAIL_MACHINE_OPERATOR_EXCEPT_POSTAL_SERVICE",
                    "MAINTENANCE_AND_REPAIR_WORKER_GENERAL",
                    "MAINTENANCE_WORKER_MACHINERY",
                    "MANAGEMENT_ANALYST",
                    "MANAGER_OTHER",
                    "MANICURIST_AND_PEDICURIST",
                    "MANUFACTURED_BUILDING_AND_MOBILE_HOME_INSTALLER",
                    "MARINE_ENGINEER_AND_NAVAL_ARCHITECT",
                    "MARKET_RESEARCH_ANALYST_AND_MARKETING_SPECIALIST",
                    "MARKETING_MANAGER",
                    "MARRIAGE_AND_FAMILY_THERAPIST",
                    "MASSAGE_THERAPIST",
                    "MATERIALS_ENGINEER",
                    "MATHEMATICIAN",
                    "MECHANICAL_ENGINEER",
                    "MEDIA_AND_COMMUNICATION_EQUIPMENT_WORKER_OTHER",
                    "MEDIA_AND_COMMUNICATION_WORKER_OTHER",
                    "MEDICAL_AND_HEALTH_SERVICES_MANAGER",
                    "MEDICAL_ASSISTANT",
                    "MEDICAL_RECORDS_SPECIALIST",
                    "MEDICAL_SCIENTIST",
                    "MEDICAL_SECRETARY_AND_ADMINISTRATIVE_ASSISTANT",
                    "MEDICAL_TRANSCRIPTIONIST",
                    "MEETING_CONVENTION_AND_EVENT_PLANNER",
                    "MENTAL_HEALTH_AND_SUBSTANCE_ABUSE_SOCIAL_WORKER",
                    "MENTAL_HEALTH_COUNSELOR",
                    "MERCHANDISE_DISPLAYER_AND_WINDOW_TRIMMER",
                    "METAL_FURNACE_OPERATOR_TENDER_POURER_AND_CASTER",
                    "METER_READER_UTILITIES",
                    "MILITARY_ENLISTED_TACTICAL_OPERATIONS_AND_AIR_WEAPONS_SPECIALIST_AND_CREW_MEMBER",
                    "MILITARY_OFFICER_SPECIAL_AND_TACTICAL_OPERATIONS_LEADER",
                    "MILITARY_RANK_NOT_SPECIFIED",
                    "MILLWRIGHT",
                    "MINING_AND_GEOLOGICAL_ENGINEER_INCLUDING_MINING_SAFETY_ENGINEER",
                    "MISCELLANEOUS_AGRICULTURAL_WORKER",
                    "MISCELLANEOUS_CONSTRUCTION_AND_RELATED_WORKER",
                    "MISCELLANEOUS_HEALTH_TECHNOLOGIST_AND_TECHNICIAN",
                    "MISCELLANEOUS_PLANT_AND_SYSTEM_OPERATOR",
                    "MISCELLANEOUS_SOCIAL_SCIENTIST_AND_RELATED_WORKER",
                    "MISCELLANEOUS_VEHICLE_AND_MOBILE_EQUIPMENT_MECHANIC_INSTALLER_AND_REPAIRER",
                    "MODEL_MAKER_AND_PATTERNMAKER_METAL_AND_PLASTIC",
                    "MODEL_DEMONSTRATOR_AND_PRODUCT_PROMOTER",
                    "MOLDER_AND_MOLDING_MACHINE_SETTER_OPERATOR_AND_TENDER_METAL_AND_PLASTIC",
                    "MOLDER_SHAPER_AND_CASTER_EXCEPT_METAL_AND_PLASTIC",
                    "MORTICIAN_UNDERTAKER_AND_FUNERAL_ARRANGER",
                    "MOTOR_VEHICLE_OPERATOR_OTHER",
                    "MUSIC_DIRECTOR_AND_COMPOSER",
                    "MUSICIAN_AND_SINGER",
                    "NATURAL_SCIENCES_MANAGER",
                    "NETWORK_AND_COMPUTER_SYSTEMS_ADMINISTRATOR",
                    "NEW_ACCOUNTS_CLERK",
                    "NEWS_ANALYST_REPORTER_AND_JOURNALIST",
                    "NUCLEAR_ENGINEER",
                    "NUCLEAR_MEDICINE_TECHNOLOGIST_AND_MEDICAL_DOSIMETRIST",
                    "NUCLEAR_TECHNICIAN",
                    "NURSE_ANESTHETIST",
                    "NURSE_MIDWIFE",
                    "NURSE_PRACTITIONER",
                    "NURSING_ASSISTANT",
                    "OCCUPATIONAL_HEALTH_AND_SAFETY_SPECIALIST_AND_TECHNICIAN",
                    "OCCUPATIONAL_THERAPIST",
                    "OCCUPATIONAL_THERAPY_ASSISTANT_AND_AIDE",
                    "OFFICE_AND_ADMINISTRATIVE_SUPPORT_WORKER_OTHER",
                    "OFFICE_CLERK_GENERAL",
                    "OFFICE_MACHINE_OPERATOR_EXCEPT_COMPUTER",
                    "OPERATIONS_RESEARCH_ANALYST",
                    "OPTICIAN_DISPENSING",
                    "OPTOMETRIST",
                    "ORDER_CLERK",
                    "ORDERLY_AND_PSYCHIATRIC_AIDE",
                    "OTHER_ASSEMBLER_AND_FABRICATOR",
                    "OTHER_COMMUNITY_AND_SOCIAL_SERVICE_SPECIALIST",
                    "OTHER_DESIGNER",
                    "OTHER_DRAFTER",
                    "OTHER_EDUCATIONAL_INSTRUCTION_AND_LIBRARY_WORKER",
                    "OTHER_ENGINEERING_TECHNOLOGIST_AND_TECHNICIAN",
                    "OTHER_ENTERTAINMENT_ATTENDANT_AND_RELATED_WORKER",
                    "OTHER_EXTRACTION_WORKER",
                    "OTHER_FINANCIAL_SPECIALIST",
                    "OTHER_GROUNDS_MAINTENANCE_WORKER",
                    "OTHER_HEALTHCARE_PRACTITIONER_AND_TECHNICAL_OCCUPATION",
                    "OTHER_HEALTHCARE_SUPPORT_WORKER",
                    "OTHER_INSTALLATION_MAINTENANCE_AND_REPAIR_WORKER",
                    "OTHER_LIFE_PHYSICAL_AND_SOCIAL_SCIENCE_TECHNICIAN",
                    "OTHER_MACHINE_TOOL_SETTER_OPERATOR_AND_TENDER_METAL_AND_PLASTIC",
                    "OTHER_MATERIAL_MOVING_WORKER",
                    "OTHER_MATHEMATICAL_SCIENCE_OCCUPATION",
                    "OTHER_METAL_WORKER_AND_PLASTIC_WORKER",
                    "OTHER_PERSONAL_APPEARANCE_WORKER",
                    "OTHER_PHYSICIAN",
                    "OTHER_PRODUCTION_EQUIPMENT_OPERATOR_AND_TENDER",
                    "OTHER_PRODUCTION_WORKER",
                    "OTHER_PROTECTIVE_SERVICE_WORKER",
                    "OTHER_PSYCHOLOGIST",
                    "OTHER_RAIL_TRANSPORTATION_WORKER",
                    "OTHER_TEACHER_AND_INSTRUCTOR",
                    "OTHER_TEXTILE_APPAREL_AND_FURNISHINGS_WORKER",
                    "OTHER_TRANSPORTATION_WORKER",
                    "OTHER_WOODWORKER",
                    "PACKAGING_AND_FILLING_MACHINE_OPERATOR_AND_TENDER",
                    "PACKER_AND_PACKAGER_HAND",
                    "PAINTER_AND_PAPERHANGER",
                    "PAINTING_WORKER",
                    "PAPER_GOODS_MACHINE_SETTER_OPERATOR_AND_TENDER",
                    "PARALEGAL_AND_LEGAL_ASSISTANT",
                    "PARAMEDIC",
                    "PARKING_ATTENDANT",
                    "PARKING_ENFORCEMENT_WORKER",
                    "PARTS_SALESPERSON",
                    "PASSENGER_ATTENDANT",
                    "PAYROLL_AND_TIMEKEEPING_CLERK",
                    "PERSONAL_CARE_AND_SERVICE_WORKER_OTHER",
                    "PERSONAL_FINANCIAL_ADVISOR",
                    "PERSONAL_SERVICE_MANAGER_OTHER",
                    "PEST_CONTROL_WORKER",
                    "PETROLEUM_ENGINEER",
                    "PHARMACIST",
                    "PHARMACY_AIDE",
                    "PHARMACY_TECHNICIAN",
                    "PHLEBOTOMIST",
                    "PHOTOGRAPHER",
                    "PHOTOGRAPHIC_PROCESS_WORKER_AND_PROCESSING_MACHINE_OPERATOR",
                    "PHYSICAL_SCIENTIST_OTHER",
                    "PHYSICAL_THERAPIST",
                    "PHYSICAL_THERAPIST_ASSISTANT_AND_AIDE",
                    "PHYSICIAN_ASSISTANT",
                    "PIPELAYER",
                    "PLASTERER_AND_STUCCO_MASON",
                    "PLUMBER_PIPEFITTER_AND_STEAMFITTER",
                    "PODIATRIST",
                    "POLICE_OFFICER",
                    "POSTAL_SERVICE_CLERK",
                    "POSTAL_SERVICE_MAIL_CARRIER",
                    "POSTAL_SERVICE_MAIL_SORTER_PROCESSOR_AND_PROCESSING_MACHINE_OPERATOR",
                    "POSTMASTER_AND_MAIL_SUPERINTENDENT",
                    "POSTSECONDARY_TEACHER",
                    "POWER_PLANT_OPERATOR_DISTRIBUTOR_AND_DISPATCHER",
                    "PRECISION_INSTRUMENT_AND_EQUIPMENT_REPAIRER",
                    "PREPRESS_TECHNICIAN_AND_WORKER",
                    "PRESCHOOL_AND_KINDERGARTEN_TEACHER",
                    "PRESSER_TEXTILE_GARMENT_AND_RELATED_MATERIAL",
                    "PRINT_BINDING_AND_FINISHING_WORKER",
                    "PRINTING_PRESS_OPERATOR",
                    "PRIVATE_DETECTIVE_AND_INVESTIGATOR",
                    "PROBATION_OFFICER_AND_CORRECTIONAL_TREATMENT_SPECIALIST",
                    "PROCUREMENT_CLERK",
                    "PRODUCER_AND_DIRECTOR",
                    "PRODUCTION_PLANNING_AND_EXPEDITING_CLERK",
                    "PROJECT_MANAGEMENT_SPECIALIST",
                    "PROOFREADER_AND_COPY_MARKER",
                    "PROPERTY_APPRAISER_AND_ASSESSOR",
                    "PROPERTY_REAL_ESTATE_AND_COMMUNITY_ASSOCIATION_MANAGER",
                    "PSYCHIATRIC_TECHNICIAN",
                    "PUBLIC_RELATIONS_AND_FUNDRAISING_MANAGER",
                    "PUBLIC_RELATIONS_SPECIALIST",
                    "PUBLIC_SAFETY_TELECOMMUNICATOR",
                    "PUMPING_STATION_OPERATOR",
                    "PURCHASING_AGENT_EXCEPT_WHOLESALE_RETAIL_AND_FARM_PRODUCTS",
                    "PURCHASING_MANAGER",
                    "RADIATION_THERAPIST",
                    "RADIO_AND_TELECOMMUNICATIONS_EQUIPMENT_INSTALLER_AND_REPAIRER",
                    "RADIOLOGIC_TECHNOLOGIST_AND_TECHNICIAN",
                    "RADIOLOGIST",
                    "RAIL_TRACK_LAYING_AND_MAINTENANCE_EQUIPMENT_OPERATOR",
                    "RAILROAD_CONDUCTOR_AND_YARDMASTER",
                    "REAL_ESTATE_BROKER_AND_SALES_AGENT",
                    "RECEPTIONIST_AND_INFORMATION_CLERK",
                    "RECREATION_WORKER",
                    "RECREATIONAL_THERAPIST",
                    "REFUSE_AND_RECYCLABLE_MATERIAL_COLLECTOR",
                    "REGISTERED_NURSE",
                    "REHABILITATION_COUNSELOR",
                    "REINFORCING_IRON_AND_REBAR_WORKER",
                    "RELIGIOUS_WORKER_OTHER",
                    "RESERVATION_AND_TRANSPORTATION_TICKET_AGENT_AND_TRAVEL_CLERK",
                    "RESIDENTIAL_ADVISOR",
                    "RESPIRATORY_THERAPIST",
                    "RETAIL_SALESPERSON",
                    "RIGGER",
                    "ROOFER",
                    "ROUSTABOUT_OIL_AND_GAS",
                    "SAILOR_AND_MARINE_OILER",
                    "SALES_AND_RELATED_WORKER_OTHER",
                    "SALES_ENGINEER",
                    "SALES_MANAGER",
                    "SALES_REPRESENTATIVE_OF_SERVICES_EXCEPT_ADVERTISING_INSURANCE_FINANCIAL_SERVICES_AND_TRAVEL",
                    "SALES_REPRESENTATIVES_WHOLESALE_AND_MANUFACTURING",
                    "SAWING_MACHINE_SETTER_OPERATOR_AND_TENDER_WOOD",
                    "SCHOOL_BUS_DRIVER",
                    "SCHOOL_BUS_MONITOR",
                    "SCHOOL_PSYCHOLOGIST",
                    "SECONDARY_SCHOOL_TEACHER",
                    "SECRETARY_AND_ADMINISTRATIVE_ASSISTANT_EXCEPT_LEGAL_MEDICAL_AND_EXECUTIVE",
                    "SECURITIES_COMMODITIES_AND_FINANCIAL_SERVICES_SALES_AGENT",
                    "SECURITY_AND_FIRE_ALARM_SYSTEMS_INSTALLER",
                    "SECURITY_GUARD_AND_GAMBLING_SURVEILLANCE_OFFICER",
                    "SEPTIC_TANK_SERVICER_AND_SEWER_PIPE_CLEANER",
                    "SEWING_MACHINE_OPERATOR",
                    "SHEET_METAL_WORKER",
                    "SHIP_AND_BOAT_CAPTAIN_AND_OPERATOR",
                    "SHIP_ENGINEER",
                    "SHIPPING_RECEIVING_AND_INVENTORY_CLERK",
                    "SHOE_AND_LEATHER_WORKER",
                    "SHUTTLE_DRIVER_AND_CHAUFFEUR",
                    "SKINCARE_SPECIALIST",
                    "SMALL_ENGINE_MECHANIC",
                    "SOCIAL_AND_COMMUNITY_SERVICE_MANAGER",
                    "SOCIAL_AND_HUMAN_SERVICE_ASSISTANT",
                    "SOCIAL_SCIENCE_RESEARCH_ASSISTANT",
                    "SOCIAL_WORKER_OTHER",
                    "SOCIOLOGIST",
                    "SOFTWARE_DEVELOPER",
                    "SOFTWARE_QUALITY_ASSURANCE_ANALYST_AND_TESTER",
                    "SOLAR_PHOTOVOLTAIC_INSTALLER",
                    "SPECIAL_EDUCATION_TEACHER",
                    "SPEECH_LANGUAGE_PATHOLOGIST",
                    "STATIONARY_ENGINEER_AND_BOILER_OPERATOR",
                    "STATISTICAL_ASSISTANT",
                    "STATISTICIAN",
                    "STOCKER_AND_ORDER_FILLER",
                    "STRUCTURAL_IRON_AND_STEEL_WORKER",
                    "STRUCTURAL_METAL_FABRICATOR_AND_FITTER",
                    "SUBSTANCE_ABUSE_AND_BEHAVIORAL_DISORDER_COUNSELOR",
                    "SUPERVISOR_OF_PERSONAL_CARE_AND_SERVICE_WORKER",
                    "SUPERVISOR_OF_TRANSPORTATION_AND_MATERIAL_MOVING_WORKER",
                    "SURGEON",
                    "SURGICAL_TECHNOLOGIST",
                    "SURVEY_RESEARCHER",
                    "SURVEYING_AND_MAPPING_TECHNICIAN",
                    "SURVEYOR_CARTOGRAPHER_AND_PHOTOGRAMMETRIST",
                    "SWITCHBOARD_OPERATOR_INCLUDING_ANSWERING_SERVICE",
                    "TAILOR_DRESSMAKER_AND_SEWER",
                    "TAX_EXAMINER_AND_COLLECTOR_AND_REVENUE_AGENT",
                    "TAX_PREPARER",
                    "TAXI_DRIVER",
                    "TEACHING_ASSISTANT",
                    "TECHNICAL_WRITER",
                    "TELECOMMUNICATIONS_LINE_INSTALLER_AND_REPAIRER",
                    "TELEMARKETER",
                    "TELEPHONE_OPERATOR",
                    "TELEVISION_VIDEO_AND_FILM_CAMERA_OPERATOR_AND_EDITOR",
                    "TELLER",
                    "TEXTILE_MACHINE_SETTER_OPERATOR_AND_TENDER",
                    "THERAPIST_OTHER",
                    "TIRE_BUILDER",
                    "TITLE_EXAMINER_ABSTRACTOR_AND_SEARCHER",
                    "TOOL_AND_DIE_MAKER",
                    "TOUR_AND_TRAVEL_GUIDE",
                    "TRAINING_AND_DEVELOPMENT_MANAGER",
                    "TRAINING_AND_DEVELOPMENT_SPECIALIST",
                    "TRANSIT_AND_INTERCITY_BUS_DRIVER",
                    "TRANSPORTATION_INSPECTOR",
                    "TRANSPORTATION_SECURITY_SCREENER",
                    "TRANSPORTATION_SERVICE_ATTENDANT",
                    "TRANSPORTATION_STORAGE_AND_DISTRIBUTION_MANAGER",
                    "TRAVEL_AGENT",
                    "TREE_TRIMMER_AND_PRUNER",
                    "TUTOR",
                    "UMPIRE_REFEREE_AND_OTHER_SPORTS_OFFICIAL",
                    "UNDERGROUND_MINING_MACHINE_OPERATOR",
                    "UNEMPLOYED_WITH_NO_WORK_EXPERIENCE_IN_THE_LAST_5_YEARS_OR_EARLIER_OR_NEVER_WORKED",
                    "UPHOLSTERER",
                    "URBAN_AND_REGIONAL_PLANNER",
                    "USHER_LOBBY_ATTENDANT_AND_TICKET_TAKER",
                    "VETERINARIAN",
                    "VETERINARY_ASSISTANT_AND_LABORATORY_ANIMAL_CARETAKER",
                    "VETERINARY_TECHNOLOGIST_AND_TECHNICIAN",
                    "WAITER_OR_WAITRESS",
                    "WATER_AND_WASTEWATER_TREATMENT_PLANT_AND_SYSTEM_OPERATOR",
                    "WEB_AND_DIGITAL_INTERFACE_DESIGNER",
                    "WEB_DEVELOPER",
                    "WEIGHER_MEASURER_CHECKER_AND_SAMPLER_RECORDKEEPING",
                    "WELDING_SOLDERING_AND_BRAZING_WORKER",
                    "WHOLESALE_AND_RETAIL_BUYER_EXCEPT_FARM_PRODUCTS",
                    "WIND_TURBINE_SERVICE_TECHNICIAN",
                    "WOODWORKING_MACHINE_SETTER_OPERATOR_AND_TENDER_EXCEPT_SAWING",
                    "WORD_PROCESSOR_AND_TYPIST",
                    "WRITER_AND_AUTHOR"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/kyc/customers/{subaccountId}": {
      "patch": {
        "tags": ["Verification"],
        "summary": "Tier Two | Add/Update Customer Information",
        "description": "Add or update the KYC information for a tier two customer.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": { "type": "string" },
                  "middle_name": { "type": "string", "nullable": true },
                  "last_name": { "type": "string" },
                  "phone": { "type": "string" },
                  "address": {
                    "type": "object",
                    "properties": {
                      "street_line_1": { "type": "string" },
                      "street_line_2": { "type": "string" },
                      "city": { "type": "string" },
                      "state": {
                        "type": "string",
                        "description": "ISO 2 state codes. See [ISO 3166-2](https://en.wikipedia.org/wiki/ISO_3166-2)"
                      },
                      "postal_code": { "type": "string" },
                      "country": {
                        "type": "string",
                        "description": "ISO alpha 3 country codes. See [ISO Alpha 3](https://www.iban.com/country-codes)"
                      }
                    }
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date",
                    "description": "Must be formatted as YYYY-MM-DD"
                  },
                  "account_purpose": {
                    "type": "string",
                    "enum": [
                      "CHARITABLE_DONATIONS",
                      "ECOMMERCE_RETAIL_PAYMENTS",
                      "INVESTMENT_PURPOSES",
                      "OPERATING_A_COMPANY",
                      "OTHER",
                      "PAYMENTS_TO_FRIENDS_OR_FAMILY_ABROAD",
                      "PERSONAL_OR_LIVING_EXPENSES",
                      "PROTECT_WEALTH",
                      "PURCHASE_GOODS_AND_SERVICES",
                      "RECEIVE_PAYMENT_FOR_FREELANCING",
                      "RECEIVE_SALARY"
                    ]
                  },
                  "account_purpose_other": {
                    "type": "string",
                    "nullable": true
                  },
                  "employment_status": {
                    "type": "string",
                    "enum": [
                      "EMPLOYED",
                      "HOMEMAKER",
                      "RETIRED",
                      "SELF_EMPLOYED",
                      "STUDENT",
                      "UNEMPLOYED"
                    ]
                  },
                  "expected_monthly_payments_usd": {
                    "type": "string",
                    "enum": [
                      "UP_TO_4999",
                      "FROM_5000_TO_9999",
                      "FROM_10000_TO_49999",
                      "FROM_50000"
                    ]
                  },
                  "acting_as_intermediary": { "type": "boolean" },
                  "most_recent_occupation": {
                    "type": "string",
                    "description": "Fetch from occupation endpoint: [/api-reference/verification/get-occupations](/api-reference/verification/get-occupations)"
                  },
                  "source_of_funds": {
                    "type": "string",
                    "enum": [
                      "COMPANY_FUNDS",
                      "ECOMMERCE_RESELLER",
                      "GAMBLING_PROCEEDS",
                      "GIFTS",
                      "GOVERNMENT_BENEFITS",
                      "INHERITANCE",
                      "INVESTMENTS_LOANS",
                      "PENSION_RETIREMENT",
                      "SALARY",
                      "SALE_OF_ASSETS_REAL_ESTATE",
                      "SAVINGS",
                      "SOMEONE_ELSES_FUNDS"
                    ]
                  },
                  "documents": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "purpose": {
                          "type": "string",
                          "enum": [
                            "PROOF_OF_ACCOUNT_PURPOSE",
                            "PROOF_OF_ADDRESS",
                            "PROOF_OF_SOURCE_OF_FUNDS"
                          ]
                        },
                        "file": { "type": "string", "format": "uri" }
                      }
                    }
                  },
                  "identifying_information": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": ["passport"]
                        },
                        "issuing_country": {
                          "type": "string",
                          "description": "ISO alpha 3 country codes. See [ISO Alpha 3](https://www.iban.com/country-codes)"
                        },
                        "number": { "type": "string" },
                        "image_front": { "type": "string", "format": "uri" },
                        "image_back": { "type": "string", "format": "uri" }
                      }
                    }
                  }
                }
              },
              "example": {
                "first_name": "Mike",
                "middle_name": null,
                "last_name": "Bull",
                "phone": "+2348012345678",
                "address": {
                  "street_line_1": "9 Karimu Street",
                  "street_line_2": "",
                  "city": "Lagos",
                  "state": "LA",
                  "postal_code": "105102",
                  "country": "NGA"
                },
                "birth_date": "1993-01-24",
                "account_purpose": "PAYMENTS_TO_FRIENDS_OR_FAMILY_ABROAD",
                "account_purpose_other": null,
                "employment_status": "EMPLOYED",
                "expected_monthly_payments_usd": "FROM_5000_TO_9999",
                "acting_as_intermediary": false,
                "most_recent_occupation": "ACCOUNTANT_AND_AUDITOR",
                "source_of_funds": "INHERITANCE",
                "documents": [
                  {
                    "purpose": "PROOF_OF_ADDRESS",
                    "file": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                  }
                ],
                "identifying_information": [
                  {
                    "type": "passport",
                    "issuing_country": "NGA",
                    "number": "12345678909",
                    "image_front": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738198/verification/2025-11-21/t2fgqlxesqigmm0qfvbi.png",
                    "image_back": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer information updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "lastSubmissionAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "submissionCount": { "type": "integer" },
                    "type": { "type": "string" },
                    "first_name": { "type": "string" },
                    "middle_name": { "type": "string", "nullable": true },
                    "last_name": { "type": "string" },
                    "phone": { "type": "string" },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": { "type": "string" },
                        "street_line_2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "postal_code": { "type": "string" },
                        "country": { "type": "string" }
                      }
                    },
                    "birth_date": { "type": "string", "format": "date-time" },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purpose": { "type": "string" },
                          "file": { "type": "string", "format": "uri" }
                        }
                      }
                    },
                    "account_purpose": { "type": "string" },
                    "account_purpose_other": {
                      "type": "string",
                      "nullable": true
                    },
                    "employment_status": { "type": "string" },
                    "expected_monthly_payments_usd": { "type": "string" },
                    "acting_as_intermediary": { "type": "boolean" },
                    "most_recent_occupation": { "type": "string" },
                    "source_of_funds": { "type": "string" },
                    "identifying_information": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string" },
                          "issuing_country": { "type": "string" },
                          "number": { "type": "string" },
                          "image_front": { "type": "string", "format": "uri" },
                          "image_back": { "type": "string", "format": "uri" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "not_started",
                  "created_at": "2025-11-21T15:32:51.901Z",
                  "updated_at": "2025-12-31T10:17:21.319Z",
                  "lastSubmissionAt": null,
                  "submissionCount": 0,
                  "type": "individual",
                  "first_name": "Mike",
                  "middle_name": null,
                  "last_name": "Bull",
                  "phone": "+2348012345678",
                  "address": {
                    "street_line_1": "9 Karimu Street",
                    "street_line_2": "",
                    "city": "Lagos",
                    "state": "LA",
                    "postal_code": "105102",
                    "country": "NGA"
                  },
                  "birth_date": "1993-01-24T00:00:00.000Z",
                  "documents": [
                    {
                      "purpose": "PROOF_OF_ADDRESS",
                      "file": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ],
                  "account_purpose": "payments_to_friends_or_family_abroad",
                  "account_purpose_other": null,
                  "employment_status": "employed",
                  "expected_monthly_payments_usd": "FROM_5000_TO_9999",
                  "acting_as_intermediary": false,
                  "most_recent_occupation": "ACCOUNTANT_AND_AUDITOR",
                  "source_of_funds": "inheritance",
                  "identifying_information": [
                    {
                      "type": "passport",
                      "issuing_country": "NGA",
                      "number": "12345678909",
                      "image_front": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738198/verification/2025-11-21/t2fgqlxesqigmm0qfvbi.png",
                      "image_back": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": ["Verification"],
        "summary": "Tier Two | Get Customer Information",
        "description": "Retrieve the tier two customer KYC information.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "rejection_reasons": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "lastSubmissionAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "submissionCount": { "type": "integer" },
                    "type": { "type": "string" },
                    "first_name": { "type": "string" },
                    "middle_name": { "type": "string", "nullable": true },
                    "last_name": { "type": "string" },
                    "phone": { "type": "string" },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": { "type": "string" },
                        "street_line_2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "postal_code": { "type": "string" },
                        "country": { "type": "string" }
                      }
                    },
                    "birth_date": { "type": "string", "format": "date" },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purpose": { "type": "string" },
                          "file": { "type": "string", "format": "uri" }
                        }
                      }
                    },
                    "account_purpose": { "type": "string" },
                    "account_purpose_other": {
                      "type": "string",
                      "nullable": true
                    },
                    "employment_status": { "type": "string" },
                    "expected_monthly_payments_usd": { "type": "string" },
                    "acting_as_intermediary": { "type": "boolean" },
                    "most_recent_occupation": { "type": "string" },
                    "source_of_funds": { "type": "string" },
                    "identifying_information": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string" },
                          "issuing_country": { "type": "string" },
                          "number": { "type": "string" },
                          "image_front": { "type": "string", "format": "uri" },
                          "image_back": { "type": "string", "format": "uri" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "incomplete",
                  "rejection_reasons": [],
                  "created_at": "2025-12-31T10:37:53.156Z",
                  "updated_at": "2025-12-31T10:38:25.087Z",
                  "lastSubmissionAt": "2025-12-31T10:38:25.084Z",
                  "submissionCount": 1,
                  "type": "individual",
                  "first_name": "Mike",
                  "middle_name": null,
                  "last_name": "Bull",
                  "phone": "+2348012345678",
                  "address": {
                    "street_line_1": "9 Karimu Street",
                    "street_line_2": "",
                    "city": "Lagos",
                    "state": "LA",
                    "postal_code": "105102",
                    "country": "NGA"
                  },
                  "birth_date": "1993-01-24",
                  "documents": [
                    {
                      "purpose": "PROOF_OF_ADDRESS",
                      "file": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ],
                  "account_purpose": "payments_to_friends_or_family_abroad",
                  "account_purpose_other": null,
                  "employment_status": "employed",
                  "expected_monthly_payments_usd": "FROM_5000_TO_9999",
                  "acting_as_intermediary": false,
                  "most_recent_occupation": "ACCOUNTANT_AND_AUDITOR",
                  "source_of_funds": "inheritance",
                  "identifying_information": [
                    {
                      "type": "passport",
                      "issuing_country": "NGA",
                      "number": "12345678909",
                      "image_front": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738198/verification/2025-11-21/t2fgqlxesqigmm0qfvbi.png",
                      "image_back": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Customer not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "statusCode": 404,
                  "timestamp": "2025-12-31T10:36:17.034Z",
                  "path": "/v1/kyc/customers/3dee9114-0467-4694-8e51-169978dd15d4",
                  "error": "Error",
                  "message": "Customer not found",
                  "stack": "HttpException: Customer not found"
                }
              }
            }
          }
        }
      }
    },
    "/v1/kyc/customers/{subaccountId}/submit": {
      "post": {
        "tags": ["Verification"],
        "summary": "Tier Two | Submit Customer Information",
        "description": "Submit the tier two customer information for verification.",
        "parameters": [
          {
            "name": "subaccountId",
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true,
            "description": "The unique identifier of the subaccount"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string" },
                    "rejection_reasons": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "endorsements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": { "type": "string" },
                          "status": { "type": "string" },
                          "additional_requirements": {
                            "type": "array",
                            "items": { "type": "string" }
                          }
                        }
                      }
                    },
                    "created_at": { "type": "string", "format": "date-time" },
                    "updated_at": { "type": "string", "format": "date-time" },
                    "lastSubmissionAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "submissionCount": { "type": "integer" },
                    "type": { "type": "string" },
                    "first_name": { "type": "string" },
                    "middle_name": { "type": "string", "nullable": true },
                    "last_name": { "type": "string" },
                    "phone": { "type": "string" },
                    "address": {
                      "type": "object",
                      "properties": {
                        "street_line_1": { "type": "string" },
                        "street_line_2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "postal_code": { "type": "string" },
                        "country": { "type": "string" }
                      }
                    },
                    "birth_date": { "type": "string", "format": "date" },
                    "documents": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "purpose": { "type": "string" },
                          "file": { "type": "string", "format": "uri" }
                        }
                      }
                    },
                    "account_purpose": { "type": "string" },
                    "account_purpose_other": {
                      "type": "string",
                      "nullable": true
                    },
                    "employment_status": { "type": "string" },
                    "expected_monthly_payments_usd": { "type": "string" },
                    "acting_as_intermediary": { "type": "boolean" },
                    "most_recent_occupation": { "type": "string" },
                    "source_of_funds": { "type": "string" },
                    "identifying_information": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": { "type": "string" },
                          "issuing_country": { "type": "string" },
                          "number": { "type": "string" },
                          "image_front": { "type": "string", "format": "uri" },
                          "image_back": { "type": "string", "format": "uri" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "status": "incomplete",
                  "rejection_reasons": [],
                  "endorsements": [
                    {
                      "name": "base",
                      "status": "incomplete",
                      "additional_requirements": ["kyc_approval"]
                    },
                    {
                      "name": "sepa",
                      "status": "incomplete",
                      "additional_requirements": [
                        "kyc_approval",
                        "kyc_with_proof_of_address"
                      ]
                    }
                  ],
                  "created_at": "2025-12-31T10:37:53.156Z",
                  "updated_at": "2025-12-31T10:38:25.087Z",
                  "lastSubmissionAt": "2025-12-31T10:38:25.084Z",
                  "submissionCount": 1,
                  "type": "individual",
                  "first_name": "Mike",
                  "middle_name": null,
                  "last_name": "Bull",
                  "phone": "+2348012345678",
                  "address": {
                    "street_line_1": "9 Karimu Street",
                    "street_line_2": "",
                    "city": "Lagos",
                    "state": "LA",
                    "postal_code": "105102",
                    "country": "NGA"
                  },
                  "birth_date": "1993-01-24",
                  "documents": [
                    {
                      "purpose": "PROOF_OF_ADDRESS",
                      "file": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ],
                  "account_purpose": "payments_to_friends_or_family_abroad",
                  "account_purpose_other": null,
                  "employment_status": "employed",
                  "expected_monthly_payments_usd": "FROM_5000_TO_9999",
                  "acting_as_intermediary": false,
                  "most_recent_occupation": "ACCOUNTANT_AND_AUDITOR",
                  "source_of_funds": "inheritance",
                  "identifying_information": [
                    {
                      "type": "passport",
                      "issuing_country": "NGA",
                      "number": "12345678909",
                      "image_front": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738198/verification/2025-11-21/t2fgqlxesqigmm0qfvbi.png",
                      "image_back": "https://res.cloudinary.com/bullring-finance/image/upload/v1763738205/verification/2025-11-21/n0slzbkhxreppmqew4yd.png"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "example": {
                  "statusCode": 400,
                  "timestamp": "2025-12-31T10:19:59.164Z",
                  "path": "/v1/kyc/customers/5f7dc10c-74f0-4176-b328-d2b8b162972d/submit",
                  "error": "Error",
                  "message": "Missing required fields: signed_agreement_id",
                  "stack": "HttpException: Missing required fields: signed_agreement_id"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/banking/balances": {
      "get": {
        "tags": ["Balances"],
        "summary": "Get Balances",
        "description": "Retrieve account balances.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": { "type": "string" },
                    "email": { "type": "string" },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "usd": { "type": "number" },
                        "ngn": { "type": "number" },
                        "brl": { "type": "number" },
                        "eur": { "type": "number" },
                        "ghs": { "type": "number" },
                        "zmw": { "type": "number" },
                        "tzs": { "type": "number" },
                        "mxn": { "type": "number" },
                        "cop": { "type": "number" },
                        "ars": { "type": "number" }
                      }
                    },
                    "businessName": { "type": "string" },
                    "status": { "type": "string" },
                    "createdAt": { "type": "string", "format": "date-time" }
                  }
                },
                "example": {
                  "id": "abc12345-8854-4790-97e0-1fa45a15b672",
                  "email": "owneremail@example.com",
                  "balances": {
                    "usd": 3256775.24,
                    "ngn": 40538.8,
                    "brl": 3091.904761,
                    "eur": 0,
                    "ghs": 20,
                    "zmw": 50,
                    "tzs": 0,
                    "mxn": 0,
                    "cop": 0,
                    "ars": 0
                  },
                  "businessName": "Grand Global Company",
                  "status": "created",
                  "createdAt": "2025-11-19T16:48:49.565Z"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ramp/banking/channels": {
      "get": {
        "tags": ["Deposits"],
        "summary": "Get Deposit Channels",
        "description": "Retrieve a list of available deposit channels.",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "channels": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "max": {
                              "type": "integer"
                            },
                            "min": {
                              "type": "integer"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "countryCurrency": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "feeLocal": {
                              "type": "integer"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "vendorId": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "feeUSD": {
                              "type": "integer"
                            },
                            "channelType": {
                              "type": "string"
                            },
                            "rampType": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "apiStatus": {
                              "type": "string"
                            },
                            "settlementType": {
                              "type": "string"
                            },
                            "estimatedSettlementTime": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "id",
                            "max",
                            "min",
                            "currency",
                            "countryCurrency",
                            "status",
                            "feeLocal",
                            "createdAt",
                            "vendorId",
                            "country",
                            "feeUSD",
                            "channelType",
                            "rampType",
                            "updatedAt",
                            "apiStatus",
                            "settlementType",
                            "estimatedSettlementTime"
                          ]
                        }
                      },
                      "networks": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "currency": {
                              "type": "string"
                            },
                            "accountNumberType": {
                              "type": "string"
                            },
                            "countryAccountNumberType": {
                              "type": "string"
                            },
                            "channelIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            },
                            "code": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "string",
                              "format": "date-time"
                            },
                            "updatedAt": {
                              "type": "string",
                              "format": "date-time"
                            }
                          },
                          "required": [
                            "id",
                            "name",
                            "status",
                            "country",
                            "currency",
                            "accountNumberType",
                            "countryAccountNumberType",
                            "channelIds",
                            "code",
                            "createdAt",
                            "updatedAt"
                          ]
                        }
                      }
                    },
                    "required": ["channels", "networks"]
                  }
                },
[...]
